<!doctype html>
<html>
  <head>
    <title>Styleguide</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <link href="../images/images/favicon.png" rel="icon" type="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick-theme.css" type="text/css" />

    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/bootstrap.min.js"></script>


    <link href="../stylesheets/application-82ab0766.css" rel="stylesheet" />
  </head>

  <body class="partials partials_checklist">
    <div class="basic-wrapper">
      <!-------------------
Checklist Empty
-------------------->
<div class="card">
  <h3>Get the most out of your dashboards.</h3>
  <p>Our tools sync with your current Accounting and HR software. By including data from more sources we can show you a clearer business health score.</p>

  <ul class="checklist">
    <li>
      <span class="status"></span> <p>Bank Account(s)</p>
    </li>
    <li>
      <span class="status"></span> <p>Bookkeeping</p>
    </li>
    <li>
      <span class="status"></span> <p>Accounts Payable</p>
    </li>
    <li>
      <span class="status"></span> <p>Expenses</p>
    </li>
    <li>
      <span class="status"></span> <p>Human Resources</p>
    </li>
  </ul>
</div>

<!-- Code Snippet -->
<xmp><div class="card">
  <h3>Get the most out of your dashboards.</h3>
  <p>Our tools sync with your current Accounting and HR software. By including data from more sources we can show you a clearer business health score.</p>

  <ul class="checklist">
    <li>
      <span class="status is-complete"></span> <p>Bank Account(s)</p>
    </li>
    <li>
      <span class="status"></span> <p>Bookkeeping</p>
    </li>
    <li>
      <span class="status is-complete"></span> <p>Accounts Payable</p>
    </li>
    <li>
      <span class="status"></span> <p>Expenses</p>
    </li>
    <li>
      <span class="status"></span> <p>Human Resources</p>
    </li>
  </ul>
</div>
</xmp>

<br><br>

<!-------------------
Checklist In Progress
-------------------->
<div class="card">
  <h3>Get the most out of your dashboards.</h3>
  <p>Our tools sync with your current Accounting and HR software. By including data from more sources we can show you a clearer business health score.</p>

  <ul class="checklist">
    <li>
      <span class="status is-complete"></span> <p>Bank Account(s)</p>
    </li>
    <li>
      <span class="status"></span> <p>Bookkeeping</p>
    </li>
    <li>
      <span class="status is-complete"></span> <p>Accounts Payable</p>
    </li>
    <li>
      <span class="status"></span> <p>Expenses</p>
    </li>
    <li>
      <span class="status"></span> <p>Human Resources</p>
    </li>
  </ul>
</div>

<!-- Code Snippet -->
<xmp><span class="status is-complete"></span> <p>Bank Account(s)</p>
</xmp>

    </div>

    <script src="../javascripts/all-c0a304b8.js"></script>
  </body>
</html>
