<!doctype html>
<html>
  <head>
    <title>Styleguide</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <link href="../images/images/favicon.png" rel="icon" type="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick-theme.css" type="text/css" />

    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/bootstrap.min.js"></script>


    <link href="../stylesheets/application-82ab0766.css" rel="stylesheet" />
  </head>

  <body class="partials partials_checkbox">
    <div class="basic-wrapper">
      <!-------------------
Checkbox
-------------------->
<fieldset class="checkbox">
  <input type="checkbox" id="checkbox" checked="checked" value="true">
  <label for="checkbox">Checkbox label</label>
</fieldset>

<!-- Code Snippet -->
<xmp><fieldset class="checkbox">
  <input type="checkbox" id="checkbox" checked="checked" value="true">
  <label for="checkbox">Checkbox label</label>
</fieldset>
</xmp>

<!-------------------
Checkbox Error
-------------------->
<fieldset class="error checkbox">
  <input type="checkbox" id="checkbox">
  <label for="checkbox">Checkbox label</label>
  <span class="error-message">Checkbox is required</span>
</fieldset>

<!-- Code Snippet -->
<xmp><fieldset class="error checkbox">
  <input type="checkbox" id="checkbox">
  <label for="checkbox">Checkbox label</label>
  <span class="error-message">Checkbox is required</span>
</fieldset>
</xmp>
    </div>

    <script src="../javascripts/all-c0a304b8.js"></script>
  </body>
</html>
