<!doctype html>
<html>
  <head>
    <title>Styleguide</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <link href="../images/images/favicon.png" rel="icon" type="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick-theme.css" type="text/css" />

    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/bootstrap.min.js"></script>


    <link href="../stylesheets/application-944f7dc7.css" rel="stylesheet" />
  </head>

  <body class="partials partials_data-blocks">
    <div class="basic-wrapper">
      <div class="row">
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
  </div>
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
    <select name="times">
      <option value="1">MTD</option>
      <option value="2">YTD</option>
    </select>
  </div>
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
  </div>
</div>

<div class="row">
  <div class="data-block empty-state col-4">
    <header>
      <p>Total Cash Out</p>
    </header>
    <div class="text-block">
      <i><img src="" alt="sync account"></i>
      <h5><strong>Sync Account</strong></h5>
      <p>In order to view your data, we will need your to sync your Bill.com account.</p>
      <div class="button-block">
        <button class="button-primary">Sync with: <strong>Bill.com</strong></button>
      </div>
    </div>
  </div>
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
    <select name="times">
      <option value="1">MTD</option>
      <option value="2">YTD</option>
    </select>
  </div>
  <div class="data-block col-4">
    <p>Current Bank Balance <span class="warn"><i><img src="/images/icons/color/warn-c48d3353.svg" alt="Warn Icon"></i> Risk of Overage</span></p>
  </div>
</div>
    </div>

    <script src="../javascripts/all-c0a304b8.js"></script>
  </body>
</html>
