<!doctype html>
<html>
  <head>
    <title>Styleguide</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <link href="../images/images/favicon.png" rel="icon" type="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick-theme.css" type="text/css" />

    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/bootstrap.min.js"></script>


    <link href="../stylesheets/application-82ab0766.css" rel="stylesheet" />
  </head>

  <body class="partials partials_table">
    <div class="basic-wrapper">
      <table>
  <thead>
    <th>Pool Name<i class="sort-by descending"></i></th>
    <th>Pool ID<i class="sort-by"></i></th>
    <th>Exemption<i class="sort-by"></i></th>
    <th>Status<i class="sort-by"></i></th>
    <th>Withdrawn Date<i class="sort-by"></i></th>
  </thead>
  <tbody>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
  </tbody>
</table>
    </div>

    <script src="../javascripts/all-c0a304b8.js"></script>
  </body>
</html>
