<!doctype html>
<html>
  <head>
    <title>Styleguide</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <link href="../images/images/favicon.png" rel="icon" type="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick-theme.css" type="text/css" />

    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/bootstrap.min.js"></script>


    <link href="../stylesheets/application-82ab0766.css" rel="stylesheet" />
  </head>

  <body class="partials partials_typography">
    <div class="basic-wrapper">
      <h1>H1 - Header One</h1>
<h2>H2 - Header Two</h2>
<h3>H3 - Header Three</h3>
<h4>H4 - Header Four</h4>
<h5>H5 - Header Five</h5>
<h6>H6 - Header Six</h6>
<p>p — Some paragraph text</p>
<a href="#">a — Some link text</a>


<!-- Code Snippet -->
<xmp><link href="https://fonts.googleapis.com/css?family=Chivo:400,700,900" rel="stylesheet">
</xmp>
    </div>

    <script src="../javascripts/all-c0a304b8.js"></script>
  </body>
</html>
