<!doctype html>
<html>

  <head>
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">
      WEB_SOCKET_SWF_LOCATION = "/__rack/WebSocketMain.swf";
    </script>
    <script type="text/javascript" src="/__rack/swfobject.js"></script>
    <script type="text/javascript" src="/__rack/web_socket.js"></script>

    <script type="text/javascript">
      RACK_LIVERELOAD_PORT = 35729;
    </script>
    <script type="text/javascript" src="/__rack/livereload.js?host=192.168.1.53&amp;port=35729"></script>


    <title>Styleguide</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <link href="/images/images/favicon.png" rel="icon" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/bootstrap.css">
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/theme.css" type="text/css">
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick.css" type="text/css">
    <link rel="stylesheet" href="https://www.nfa.futures.org/basicnet/cms/includes/css/slick-theme.css" type="text/css">

    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.nfa.futures.org/basicnet/cms/includes/js/bootstrap.min.js"></script>


    <link href="/stylesheets/application-f7a7f176.css" rel="stylesheet">
    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %> styleguide-wrapper">
    <div class="basic-wrapper">
      <%= yield %>
    </div>
    <%= javascript_include_tag :all %>
  </body>
</html>
