<!-------------------
Alert Success
-------------------->
<div class="alert flash-success">
  <p>Your account has been saved.</p>
</div>

<!-- Code Snippet -->
<xmp><div class="alert flash-success">
  <p>Your account has been saved.</p>
</div>
</xmp>

<br><br>

<!-------------------
Alert Failure
-------------------->
<div class="alert flash-failure">
  <p>Your account could not be saved at this time.</p>
</div>

<!-- Code Snippet -->
<xmp><div class="alert flash-failure">
  <p>Your account could not be saved at this time.</p>
</div>
</xmp>