<!-------------------
Basic Layout
-------------------->

<!-- Code Snippet -->
<xmp><header class="basic-page-header">
  <div class="nav-block">
    <div class="nav-block-inner">
      <h5>BackOps</h5>
    </div>
  </div>
  <div class="page-header">
    <div class="text-block">
      <h1>Privacy Policy</h1>
    </div>
  </div>
</header>

<section class="text-only wysiwyg-formatting">
  <!-- HTML formatted text here -->
</section>
</xmp>