<!-------------------
Primary
-------------------->
<button class="btn">Submit</button>
<button class="button-primary in-progress">Submit</button>
<button class="button-primary is-disabled">Submit</button>

<!-- Code Snippet -->
<xmp>button-primary
button-primary in-progress
button-primary is-disabled
</xmp>

<br><br>

<!-------------------
Primary Outline
-------------------->
<button class="button-primary-outline">Submit</button>
<button class="button-primary-outline in-progress">Submit</button>
<button class="button-primary-outline is-disabled">Submit</button>

<!-- Code Snippet -->
<xmp>button-primary-outline
button-primary-outline in-progress
button-primary-outline is-disabled
</xmp>