<h2>CFTC Exemptions & No Actions</h2>
<div class="card">
  <div class="card-header">
    <img src="">
    <div class="text-block">
      <h3>Pool Exemptions</h3>
      <p>For additional details about CFTC No Action letters, <a href="#" target="_blank">click here</a>.</p>
    </div>
    <a href="" target="_blank" class="btn">Regulation PDF</a>
  </div>
  <div class="card-inner">
    <%= partial 'partials/table' %>
  </div>
</div>