<h1>Regulatory Actions</h1>
<div class="card">
  <div class="card-header">
    <i class="circle-icon warn"><img src="../images/icons/ruling.svg"></i>
    <div class="text-block">
      <p><small>This page includes information regarding the Case History of these matters concerning the person or firm you are researching. It may also include the Outcome if the cases have been resolved regarding this person or firm.</small></p>
      <div class="action-summary">
        <div class="item">
          <span class="large-value">0</span>
          <div class="text-block">
            <p><strong><small>NFA Actions</small></strong></p>
          </div>
        </div>
        <div class="item">
          <span class="large-value">6</span>
          <div class="text-block">
            <p><strong><small>CFTC Actions</small></strong></p>
          </div>
        </div>
        <div class="item">
          <span class="large-value">5</span>
          <div class="text-block">
            <p><strong><small>Exchange Actions</small></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-inner">
    <%= partial 'partials/table' %>
  </div>
</div>