<!-------------------
Checklist Empty
-------------------->
<div class="card">
  <h3>Get the most out of your dashboards.</h3>
  <p>Our tools sync with your current Accounting and HR software. By including data from more sources we can show you a clearer business health score.</p>

  <ul class="checklist">
    <li>
      <span class="status"></span> <p>Bank Account(s)</p>
    </li>
    <li>
      <span class="status"></span> <p>Bookkeeping</p>
    </li>
    <li>
      <span class="status"></span> <p>Accounts Payable</p>
    </li>
    <li>
      <span class="status"></span> <p>Expenses</p>
    </li>
    <li>
      <span class="status"></span> <p>Human Resources</p>
    </li>
  </ul>
</div>

<!-- Code Snippet -->
<xmp><div class="card">
  <h3>Get the most out of your dashboards.</h3>
  <p>Our tools sync with your current Accounting and HR software. By including data from more sources we can show you a clearer business health score.</p>

  <ul class="checklist">
    <li>
      <span class="status is-complete"></span> <p>Bank Account(s)</p>
    </li>
    <li>
      <span class="status"></span> <p>Bookkeeping</p>
    </li>
    <li>
      <span class="status is-complete"></span> <p>Accounts Payable</p>
    </li>
    <li>
      <span class="status"></span> <p>Expenses</p>
    </li>
    <li>
      <span class="status"></span> <p>Human Resources</p>
    </li>
  </ul>
</div>
</xmp>

<br><br>

<!-------------------
Checklist In Progress
-------------------->
<div class="card">
  <h3>Get the most out of your dashboards.</h3>
  <p>Our tools sync with your current Accounting and HR software. By including data from more sources we can show you a clearer business health score.</p>

  <ul class="checklist">
    <li>
      <span class="status is-complete"></span> <p>Bank Account(s)</p>
    </li>
    <li>
      <span class="status"></span> <p>Bookkeeping</p>
    </li>
    <li>
      <span class="status is-complete"></span> <p>Accounts Payable</p>
    </li>
    <li>
      <span class="status"></span> <p>Expenses</p>
    </li>
    <li>
      <span class="status"></span> <p>Human Resources</p>
    </li>
  </ul>
</div>

<!-- Code Snippet -->
<xmp><span class="status is-complete"></span> <p>Bank Account(s)</p>
</xmp>
