<!-------------------
Checkbox
-------------------->
<fieldset class="checkbox">
  <input type="checkbox" id="checkbox" checked="checked" value="true">
  <label for="checkbox">Checkbox label</label>
</fieldset>

<!-- Code Snippet -->
<xmp><fieldset class="checkbox">
  <input type="checkbox" id="checkbox" checked="checked" value="true">
  <label for="checkbox">Checkbox label</label>
</fieldset>
</xmp>

<!-------------------
Checkbox Error
-------------------->
<fieldset class="error checkbox">
  <input type="checkbox" id="checkbox">
  <label for="checkbox">Checkbox label</label>
  <span class="error-message">Checkbox is required</span>
</fieldset>

<!-- Code Snippet -->
<xmp><fieldset class="error checkbox">
  <input type="checkbox" id="checkbox">
  <label for="checkbox">Checkbox label</label>
  <span class="error-message">Checkbox is required</span>
</fieldset>
</xmp>