<h6>Main Colors</h6>
<div class="color-block">
  <div class="color" style="background-color: #754681;"></div>
  <div class="text-block">
    <h6>Purple</h6>
    <p>$purple-base</p>
  </div>
</div>

<div class="color-block">
  <div class="color" style="background-color: #573460;"></div>
  <div class="text-block">
    <h6>Purple Dark</h6>
    <p>$purple-dark</p>
  </div>
</div>

<br><br><br>
<h6>Utility Colors</h6>
<div class="color-block">
  <div class="color" style="background-color: #67A91F;"></div>
  <div class="text-block">
    <h6>Green</h6>
    <p>$green-base</p>
  </div>
</div>

<div class="color-block">
  <div class="color" style="background-color: #4d7e17;"></div>
  <div class="text-block">
    <h6>Green Dark</h6>
    <p>$green-dark</p>
  </div>
</div>

<div class="color-block">
  <div class="color" style="background-color: #F5A623;"></div>
  <div class="text-block">
    <h6>Yellow</h6>
    <p>$yellow-base</p>
  </div>
</div>

<div class="color-block">
  <div class="color" style="background-color: #db8c0a;"></div>
  <div class="text-block">
    <h6>Yellow Dark</h6>
    <p>$yellow-dark</p>
  </div>
</div>

<div class="color-block">
  <div class="color" style="background-color: #DA4848;"></div>
  <div class="text-block">
    <h6>Red</h6>
    <p>$red-base</p>
  </div>
</div>

<div class="color-block">
  <div class="color" style="background-color: #a10202;"></div>
  <div class="text-block">
    <h6>Red Dark</h6>
    <p>$red-dark</p>
  </div>
</div>