<div class="row">
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
  </div>
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
    <select name="times">
      <option value="1">MTD</option>
      <option value="2">YTD</option>
    </select>
  </div>
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
  </div>
</div>

<div class="row">
  <div class="data-block empty-state col-4">
    <header>
      <p>Total Cash Out</p>
    </header>
    <div class="text-block">
      <i><img src="" alt="sync account"></i>
      <h5><strong>Sync Account</strong></h5>
      <p>In order to view your data, we will need your to sync your Bill.com account.</p>
      <div class="button-block">
        <button class="button-primary">Sync with: <strong>Bill.com</strong></button>
      </div>
    </div>
  </div>
  <div class="data-block col-4">
    <p>Total Cash Out</p>
    <p><span>$12,312,123.05</span></p>
    <select name="times">
      <option value="1">MTD</option>
      <option value="2">YTD</option>
    </select>
  </div>
  <div class="data-block col-4">
    <p>Current Bank Balance <span class="warn"><i><img src="/images/icons/color/warn-c48d3353.svg" alt="Warn Icon"></i> Risk of Overage</span></p>
  </div>
</div>