<!-------------------
Fixed Footer Approval Needed
-------------------->
<footer class="fixed-footer approval-needed">
  <div class="fixed-footer-inner">
    <div class="text-block">
      <p class="footnote"></p>
      <span></span>
    </div>
    <div class="approval-options">
      <a href="#" class="button-primary"></a>
      <a href="#" class="button-warn"></a>
      <a href="#" class="button-grey"></a>
    </div>
  </div>
</footer>

<!-- Code Snippet -->
<xmp></xmp>

<br><br>
