<!-------------------
Full Page Loading State
-------------------->
<section class="full-page-loading">
  <div class="full-page-loading-inner">
    <div class="progress-bar white-bar">
      <div class="progress-fill" style="width: 25%;"></div>
    </div>
    <div class="text-block">
      <h5><strong></strong></h5>
      <p></p>
    </div>
  </div>
</section>

<!-- Code Snippet -->
<xmp><section class="full-page-loading">
  <div class="progress-bar white-bar">
    <div class="progress-fill" style="width: 25%;"></div>
  </div>
  <div class="text-block">
    <h5><strong></strong></h5>
    <p></p>
  </div>
</section>
</xmp>