<div class="container">
  <div id="Div1" class="bar">
    <div id="PrintPageNew" class="page-tools">
      <form class="quick-search">
        <select>
          <option>Firm</option>
          <option>Individual</option>
          <option>Pool</option>
        </select>
        <div class="search-bar">
          <input type="search" name="" placeholder="Firm Name or NFA ID">
        </div>
      </form>
      <a href="#" onclick="window.print(); return false;">
        <svg class="svg-icon-print" focusable="false" aria-hidden="true"> <use xlink:href="#icon-print"></use> </svg>Print
      </a>
    </div>

    <div id="Breadcrumbs" class="breadcrumbs">
      <a href="../index.html">Home</a>
      <span class="icon-bracket-right"></span>
      <a href="Welcome.aspx">BASIC</a>
    </div>
  </div>
</div>