<footer class="main-footer" role="contentinfo">

    <div class="footer-top">
      <div class="container clearfix">

        <ul>
          <li><a href="/contact-nfa/index.html">Contact NFA</a></li>
          <li><a href="/basicnet/complaint.aspx">File a Complaint</a></li>
          <li><a href="/arbitration/index.html">Arbitration Services</a></li>
          <li><a href="/market-regulation/index.html">Market Regulation Services</a></li>
          <li><a href="/faqs/index.html">FAQs</a></li>
        </ul>

        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/site-index.html">Site Index</a></li>
          <li><a href="/disclaimer-and-privacy-policy.html">Disclaimer and Privacy Policy</a></li>
        </ul>

        <hr>

        <div class="social-icons">
            <h3>Connect With Us</h3>
<a class="icon-twitter" href="https://twitter.com/NFA_News" rel="noopener noreferrer" target="_blank"><span class="visuallyHidden">Twitter</span></a> <a class="icon-rss" href="/news/rss.asp"><span class="visuallyHidden">Rss</span></a>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
<div class="container">©  <script>                                   document.write(new Date().getFullYear())</script>  National Futures Association. All Rights Reserved.</div>
</div>


  </footer>