<div class="btn-group pagination" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><img src="../images/icons/first-arrow.svg" alt="First Icon" class="icon"></button>
  <button type="button" class="btn btn-default"><img src="../images/icons/prev-arrow.svg" alt="Previous Icon" class="icon"></button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Page 1 of 5
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
      <li><a href="#">Page 4</a></li>
      <li><a href="#">Page 5</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-default"><img src="../images/icons/next-arrow.svg" alt="Next Icon" class="icon"></button>
  <button type="button" class="btn btn-default"><img src="../images/icons/last-arrow.svg" alt="Last Icon" class="icon"></button>
</div>