<div class="search-block primary">
  <div class="search-block-inner">
    <img src="/images/company-logo/basic-logo-color.svg" class="logo">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="firm" role="tab" data-toggle="tab">Firm</a></li>
      <li role="presentation"><a href="#profile" aria-controls="individual" role="tab" data-toggle="tab">Individual</a></li>
      <li role="presentation"><a href="#messages" aria-controls="pool" role="tab" data-toggle="tab">Pool</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="firm">
        <div class="search-bar">
          <input type="search" name="" placeholder="Firm Name or NFA ID">
          <ul class="autocomplete">
            <li>
              <a href="">
                <p><strong>Goldman</strong> Sachs & Co   &nbsp;|&nbsp;   NFA ID: 0002014</p>
                <p>New York, NY</p>
              </a>
            </li>
            <li>
              <a href="">
                <p><strong>Goldman</strong> Sachs & Co   &nbsp;|&nbsp;  NFA ID: 0002014</p>
                <p>New York, NY</p>
              </a>
            </li>
            <li>
              <a href="">
                <p><strong>Goldman</strong> Sachs & Co  &nbsp;|&nbsp;   NFA ID: 0002014</p>
                <p>New York, NY</p>
              </a>
            </li>
            <li class="search-all">
              <a href="">
                <p>See all results for <strong>"Goldman"</strong></p>
              </a>
            </li>
          </ul>
        </div>
        <button class="btn btn-primary">Search</button>
      </div>
      <div role="tabpanel" class="tab-pane" id="individual">
        <div class="search-bar is-active">
          <input type="search" name="" placeholder="Individual Name or NFA ID">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="pool">
        <div class="search-bar">
          <input type="search" name="" placeholder="Pool Name or NFA ID">
        </div>
      </div>
    </div>
    <p><small>Conducting a BASIC search indicates you have accepted the <a href="" target="_blank">Terms and Conditions of Use</a> & <a href="" target="_blank">Privacy Statement</a>.</small></p>
  </div>
</div>

<br>

<div class="search-block primary">
    <div class="search-block-inner">
      <img src="/images/company-logo/basic-logo-color.svg" class="logo">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="firm" role="tab" data-toggle="tab">Firm</a></li>
        <li role="presentation"><a href="#profile" aria-controls="individual" role="tab" data-toggle="tab">Individual</a></li>
        <li role="presentation"><a href="#messages" aria-controls="pool" role="tab" data-toggle="tab">Pool</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="firm">
          <div class="search-bar is-active">
            <input type="search" name="" placeholder="Firm Name or NFA ID">
            <ul class="autocomplete">
              <li>
                <a href="">
                  <p><strong>Goldman</strong> Sachs & Co   &nbsp;|&nbsp;   NFA ID: 0002014</p>
                  <p>New York, NY</p>
                </a>
              </li>
              <li>
                <a href="">
                  <p><strong>Goldman</strong> Sachs & Co   &nbsp;|&nbsp;  NFA ID: 0002014</p>
                  <p>New York, NY</p>
                </a>
              </li>
              <li>
                <a href="">
                  <p><strong>Goldman</strong> Sachs & Co  &nbsp;|&nbsp;   NFA ID: 0002014</p>
                  <p>New York, NY</p>
                </a>
              </li>
              <li class="search-all">
                <a href="">
                  <p>See all results for <strong>"Goldman"</strong></p>
                </a>
              </li>
            </ul>
          </div>
          <button class="btn btn-primary">Search</button>
        </div>
        <div role="tabpanel" class="tab-pane" id="individual">
          <div class="search-bar is-active">
            <input type="search" name="" placeholder="Individual Name or NFA ID">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="pool">
          <div class="search-bar">
            <input type="search" name="" placeholder="Pool Name or NFA ID">
          </div>
        </div>
      </div>
      <p><small>Conducting a BASIC search indicates you have accepted the <a href="" target="_blank">Terms and Conditions of Use</a> & <a href="" target="_blank">Privacy Statement</a>.</small></p>
    </div>
  </div>