<!-------------------
Select
-------------------->
<fieldset>
  <label>Select Label</label>
  <select name="names">
    <option value="1">Select</option>
    <option value="2">Option 1</option>
    <option value="3">Option 2</option>
  </select>
</fieldset>

<!-- Code Snippet -->
<xmp><fieldset>
  <label>Select Label</label>
  <select name="names">
    <option value="1">Select</option>
    <option value="2">Option 1</option>
    <option value="3">Option 2</option>
  </select>
</fieldset>
</xmp>