<aside class="side-navigation">
  <img src="/images/company-logo/temp-logo-white.png" class="logo">

  <ul>
    <li><a href="#"></a></li>
    <li class="is-active">
      <a href="#"></a>
      <ul class="sub-nav">
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
      </ul>
    </li>
  </ul>
</aside>