<aside class="side-bar">
  <img src="/images/company-logo/basic-logo-white.svg" class="logo">
  <h6>NFA ID: 0002014</h6>
  <h3>Goldman Sachs & Co LLC</h3>
  <ul>
    <li>
      <i></i>
      <h6>Business Address</h6>
      <p>200 West Street, New York, NY 10282, United States</p>
    </li>
    <li>
      <i></i>
      <h6>Phone Number</h6>
      <p>(212) 902-1000</p>
    </li>
    <li>
      <i></i>
      <h6>Formerly Known As</h6>
      <p>200 West Street, New York, NY 10282, United States</p>
    </li>
    <li>
      <i></i>
      <h6>Business Address</h6>
      <p>200 West Street, New York, NY 10282, United States</p>
    </li>
    <li>
      <i></i>
      <h6>Business Address</h6>
      <p>200 West Street, New York, NY 10282, United States</p>
    </li>
  </ul>
</aside>