<aside class="side-bar">
  <img src="/images/company-logo/basic-logo-white.svg" class="logo">
  <h6>NFA ID: 0002014</h6>
  <h3>Goldman Sachs & Co LLC</h3>
  <div class="member-block">
    <div class="text-block">
      <p><strong>NFA Member</strong></p>
      <p>CTA, CPO, FCM, SD</p>
    </div>
  </div>
  <div class="status-block">
    <p><strong>Activity Status</strong></p>
    <p>Based on information provided by the firm, this firm is <strong>Active</strong>. <a href="">View Details</a></p>
  </div>
  <!--
  <div class="bar-block">
    <div class="text-block">
      <p><strong>Permanenet Bar</strong></p>
    </div>
  </div>
  -->
  <ul>
    <li>
      <i class="icon-small"><img src="../images/icons/location.svg"></i>
      <div class="text-block">
        <p><strong>Business Address</strong></p>
        <p>200 West Street, New York, NY 10282, United States</p>
      </div>
    </li>
    <li>
      <i class="icon-small"><img src="../images/icons/phone.svg"></i>
      <div class="text-block">
        <p><strong>Phone Number</strong></p>
        <p>(212) 902-1000</p>
      </div>
    </li>
    <li>
      <i class="icon-small"><img src="../images/icons/time.svg"></i>
      <div class="text-block">
        <p><strong>Currently Works For</strong></p>
        <p>Wells Fargo Clearing Services LLC</p>
      </div>
    </li>
    <li>
      <i class="icon-small"><img src="../images/icons/building.svg"></i>
      <div class="text-block">
        <p><strong>Doing Business As</strong></p>
        <p>Goldman Sachs & Co LTD</p>
      </div>
    </li>
    <li>
      <i class="icon-small"><img src="../images/icons/related.svg"></i>
      <div class="text-block">
        <p><strong>Related NFA IDs</strong></p>
        <p><a href="">0001304</a></p>
        <p><a href="">0236656</a></p>
      </div>
    </li>
  </ul>
</aside>