<div class="scrollable-table">
  <table>
    <thead>
      <th>Effective Date
        <div class="tooltip-block top">
          <span class="tooltip-trigger">?</span>
          <span class="tooltip-content">
            <p>Description goes here.</p>
          </span>
        </div>
        <i class="sort-by descending"></i>
      </th>
      <th>Contributor
        <div class="tooltip-block top">
          <span class="tooltip-trigger">?</span>
          <span class="tooltip-content">
            <p>Description goes here.</p>
          </span>
        </div>
        <i class="sort-by"></i>
        <div class="table-filter">
           <div class="button-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
              <ul class="dropdown-menu">
                <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; CFTC</a></li>
                <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; CBOE</a></li>
                <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; CBOT</a></li>
                <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; BTX</a></li>
              </ul>
          </div>
        </div>
      </th>
      <th>Case Outcome</th>
      <th>Case # <i class="sort-by"></i></th>
    </thead>
    <tbody>
      <tr>
        <td>12/21/2016</td>
        <td>CFTC</td>
        <td>
          <ul>
            <li>Cease & Desist Order</li>
            <li>Fine/Civil Monetary Pentalty $120,000,000</li>
          </ul>
        </td>
        <td><a href="#">17-03</a></td>
      </tr>
      <tr>
        <td>12/21/2016</td>
        <td>CBOE</td>
        <td>
          <ul>
            <li>Fine Summary $2,500</li>
          </ul>
        </td>
        <td><a href="#">ICT NO.105141</a></td>
      </tr>
      <tr>
        <td>06/06/2014</td>
        <td>CBOT</td>
        <td>
          <ul>
            <li>Fine Summary $5,000</li>
          </ul>
        </td>
        <td><a href="#">RSRH-13-1735</a></td>
      </tr>
      <tr>
        <td>12/07/2012</td>
        <td>CFTC</td>
        <td>
          <ul>
            <li>Fine $1,500,000</li>
            <li>Commission Order</li>
            <li>Other (See Narrative)</li>
            <li>Cease & Desist Order</li>
          </ul>
        </td>
        <td><a href="#">13-08</a></td>
      </tr>
      <tr>
        <td>12/11/2007</td>
        <td>CBOE</td>
        <td>
          <ul>
            <li>Censure</li>
            <li>Fine $10,000</li>
          </ul>
        </td>
        <td><a href="#">CFE 07-0001</a></td>
      </tr>
      <tr>
        <td>10/14/2003</td>
        <td>BTX</td>
        <td>
          <ul>
            <li>Fine $5,000</li>
            <li>Undertaking</li>
          </ul>
        </td>
        <td><a href="#">2003-MINV-15</a></td>
      </tr>
      <tr>
        <td>07/13/2000</td>
        <td>CBOT</td>
        <td>
          <ul>
            <li>Fine $1,000</li>
          </ul>
        </td>
        <td><a href="#">99-RFT-193</a></td>
      </tr>
      <tr>
        <td>09/22/2009</td>
        <td>CBOT</td>
        <td>
          <ul>
            <li>Fine $750</li>
          </ul>
        </td>
        <td><a href="#">99-RFT-193</a></td>
      </tr>
      <tr>
        <td>07/31/1996</td>
        <td>CBOT</td>
        <td>
          <ul>
            <li>Fine $10,000</li>
          </ul>
        </td>
        <td><a href="#">95-EX-24</a></td>
      </tr>
      <tr>
        <td>02/11/1994</td>
        <td>CBOT</td>
        <td>
          <ul>
            <li>Fine $1,000</li>
          </ul>
        </td>
        <td><a href="#">93-RRI-35</a></td>
      </tr>
    </tbody>
  </table>
</div>