<table class="blade-table">
  <thead>
    <th>Firm Name<i class="sort-by descending"></i></th>
    <th><span class="th-wrap">Current NFA Membership Status
      <div class="table-filter">
         <div class="button-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
            <ul class="dropdown-menu">
              <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; NFA Member</a></li>
              <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; Not an NFA Member</a></li>
              <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp; Permanent Bar</a></li>
            </ul>
        </div>
      </div></span>
    </th>
    <th><span class="th-wrap">Current Registration Types
      <div class="tooltip-block top">
        <span class="tooltip-trigger">?</span>
        <span class="tooltip-content">
          <p><u><b>CTA</b></u> = Commodity Trading Advisor</p>
          <p><u><b>CPO</b></u> = Commodity Pool Operator</p>
          <p><u><b>EXM</b></u> = Exempt Non-U.S. Firm</p>
          <p><u><b>FCM</b></u> = Futures Commission Merchant</p>
          <p><u><b>IB</b></u> = Introducing Broker</p>
          <p><u><b>RFED</b></u> = Retail Foreign Exchange Dealer</p>
          <p><u><b>SD</b></u> = Swap Dealer</p>
        </span>
      </div>
      <div class="table-filter">
         <div class="button-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
            <ul class="dropdown-menu">
              <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; CTA</a></li>
              <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; CPO</a></li>
              <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp; EXM</a></li>
              <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp; FCM</a></li>
              <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp; IB</a></li>
              <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp; RFED</a></li>
              <li><a href="#" class="small" data-value="option7" tabIndex="-1"><input type="checkbox"/>&nbsp; SD</a></li>

            </ul>
        </div>
      </div></span>
    </th>
    <th>Regulatory Actions
      <div class="tooltip-block top">
        <span class="tooltip-trigger">?</span>
        <span class="tooltip-content">
          <p>A disciplinary or remedial action taken by a regulatory body, such as the exchanges, NFA and the CFTC in enforcing its rules and the requirements of the Commodity Exchange Act.</p>
        </span>
      </div>
      <div class="table-filter">
         <div class="button-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
            <ul class="dropdown-menu">
              <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; Yes</a></li>
              <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; No</a></li>
            </ul>
        </div>
      </div>
    </th>
  </thead>
  <tbody>
    <tr>
      <td><h4>Goldman Descendants 2014 Trust <div class="tooltip-block top"><span class="tooltip-trigger">?</span><span class="tooltip-content">
            <h5>Is a related entity to:</h5>
            <h4>Bear Stearns & Co Inc</h4>
            <p><small>NFA ID: 0000815   |   New York, NY</small></p>
          </span>
        </div>
      </h4><small>NFA ID: 0509183   |   New York, NY</small></td>
      <td><span>Not an NFA Member</span></td>
      <td><span>CPO, CTA, FCM, IB, SD, RFED</span></td>
      <td data-th="Regulatory Actions"><span>Yes</span></td>
      <td><div class="btn">View Details</div></td>
    </tr>
  </tbody>
</table>