<table>
  <thead>
    <th>Pool Name<i class="sort-by descending"></i></th>
    <th>Pool ID<i class="sort-by"></i></th>
    <th>Exemption<i class="sort-by"></i></th>
    <th>Status<i class="sort-by"></i></th>
    <th>Withdrawn Date<i class="sort-by"></i></th>
  </thead>
  <tbody>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
    <tr>
      <td>DO Offshore Drawbridge Holdings LLC</td>
      <td>P083315</td>
      <td>12-38 FOF No Action</td>
      <td>Active</td>
      <td></td>
    </tr>
  </tbody>
</table>