<!-------------------
Tabs
-------------------->
<ul class="tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Outstanding Invoices (4)</a>
    <div class="tab-content">
      <p>Tab content goes here.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Payment History (4)</a>
    <div class="tab-content">
      <p>Tab content goes here.</p>
    </div>
  </li>
</ul>

<!-- Code Snippet -->
<xmp>
</xmp>