<fieldset>
  <label>Label</label>
  <textarea name="message" placeholder="Placeholder Text"></textarea>
</fieldset>

<fieldset class="error">
  <label>Label</label>
  <textarea name="message" placeholder="Placeholder Text"></textarea>
  <span class="error-message">Label can't be blank</span>
</fieldset>
