.alert{
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  @include rem(padding, 19px 20px);
  @include position(fixed, 0px 0px null 0px);
  z-index: 9999;
  text-align: center;
  @include animation(fade-in-top 5s linear);
  font-weight: bold;
  z-index: 1;
  width: calc(100% - 225px);
  margin-left: 225px;

  p{
    font-weight: $bold;
  }

  &.flash-success{
    background-color: lighten($green-base, 50%);

    p{
      color: $green-base;
    }
  }

  &.flash-failure{
    background-color: lighten($red-base, 50%);

    p{
      color: $red-base;
    }
  }
}