/*-----------------------
Empty State
-----------------------*/
.empty-state{
  text-align: center;

  @include media($tablet){
    padding: 60px 20px;
  }

  .icon{
    background-color: lighten($purple-base, 50%);
    border-radius: 20em;
    height: 70px;
    width: 70px;
  }

  p{
    @include s-base;
    @include center;
    margin-bottom: 15px;
    max-width: 700px;
  }
}