/*-----------------------
Fieldset
-----------------------*/
fieldset{
  display: inline-block;
  @include rem(margin-bottom, 15px);
  position: relative;
  width: 100%;
}

/*-----------------------
Labels
-----------------------*/
label{
  color: $black-base;
  display: inline-block;
  @include font-type($primary-sans-serif, normal, $bold);
  @include s-small;
  @include rem(margin-bottom, 6px);
  text-align: left;

  i{
    font-style: italic;
    font-weight: $regular;
  }

  span{
    font-weight: $regular;
  }
}

/*-----------------------
Inputs
-----------------------*/
#{$all-text-inputs},
select,
textarea{
  background-color: $white-base;
  border: 1px solid $grey-light;
  border-radius: 2px;
  box-sizing: border-box;
  @include appearance(none);
  @include transition (all 0.3s ease-in-out);
  @include font-type($primary-sans-serif, normal, 400);
  @include s-base;
  @include rem(padding, 8px 13px);
  width: 100%;
  -webkit-font-smoothing: antialiased;

  @include placeholder{
    color: $black-light;
    font-style: italic;
  }

  &:focus{
    border-color: $purple-base;
    outline: none;
  }
}


/*-----------------------
Textarea
-----------------------*/
textarea,
textarea[type="text"]{
  height: 100px;
  resize: vertical;
}

.with-character-count{
  label{
    @include rem(padding-right, 108px);
  }

  .character-count{
    color: $grey-base;
    float: right;
    @include position(absolute, 0px 0px null null);
    @include s-small;
  }
}


/*-----------------------
Select
-----------------------*/
select{
  background-image: url('../images/icons/black/select-arrow.svg');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
  @include rem(padding, 8px 32px 8px 8px);
  text-overflow: ellipsis;
  width: 100%;

  option:disabled{
    color: $grey-light;
    font-style: italic;
  }
}

.calendar{
  position: relative;
  background-image: url('../images/icons/white/calendar.svg');
  background-position: left 10px bottom 14px;
  background-repeat: no-repeat;
  background-size: 15px;

  select{
    padding-left: 40px;
  }
}


/*-----------------------
Checkbox
-----------------------*/
.checkbox{
  @include rem(margin-top, 15px);
  width: 100%;

  label{
    cursor: pointer;
    float: left;
    @include rem(margin-top, 1px);
    margin-bottom: 0px;
    line-height: normal;
    //width: calc(100% - 32px);
    font-weight: normal;
    //display: contents;
  }
}

input[type="checkbox"]{
  @include appearance(none);
  @include transition (all 0.3s ease-in-out);
  background-color: $white-base;
  border: 1px solid $purple-base;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  @include rem(height, 16px);
  @include rem(width, 16px);
  outline: none;
  display: inline-block;
  @include rem(margin, 0px 8px 0px 0px);
  float: left;

  &:focus{
    border-color: $purple-base;
    outline: none;
  }

  &:checked{
    background-color: $purple-base;

    &:after{
      background-image: url('../images/icons/white/checkmark.svg');
      background-size: 10px;
      background-repeat: no-repeat;
      color: $purple-base;
      content: '';
      display: block;
      font-size: 17px;
      font-weight: $bold;
      height: 17px;
      @include transition(all 0.2s ease-in);
      margin-top: 2px;
      margin-left: 3px;
      @include position(absolute, 2px null null 1px);
      text-align: center;
      width: 17px;
      -webkit-position: absolute;
      -webkit-z-index: 3;
    }
  }
}

/*-----------------------
Currency Input
-----------------------*/
.currency-input{
  display: inline-block;
  position: relative;

  &:after{
    content: "$";
    display: inline-block;
    @include position(absolute, 10px null null 15px);
  }

  input{
    padding: 6px 10px 6px 25px;
  }
}

td .currency-input input[type="number"], td .currency-input input[type="type"]{
  padding: 6px 10px 6px 25px;
}

/*-----------------------
Error
-----------------------*/
.error{
  input, textarea, select{
    border: 1px solid $red-base;

    &:focus{
      border-color: $purple-base;
      outline: none;
    }
  }
}

.error-message{
  color: $red-base;
  display: inline-block;
  @include rem(margin-top, 4px);
  @include s-tiny;
  @include transition (all 0.3s ease-in-out);
  &:first-letter{
    text-transform: capitalize;
  }
}


/*-----------------------
Input Tooltip
-----------------------*/
.tooltip-trigger:after{
  background-color: $grey-light;
  border: 1px solid $white-med;
  border-radius: 50%;
  color: $black-base;
  content:"?";
  cursor: pointer;
  display: inline-block;
  height: 18px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  line-height: 1.4;
  vertical-align: text-top;
  width: 18px;
}

.tooltip-content{
  display: none;
  @include rem(margin-bottom, 8px);

  p{
    line-height: 1.5;
  }

  &.is-active{ display: block; }
}

/*-----------------------
Button Area
-----------------------*/
.button-area{

  button{
    width: 100%;

    @include media($tablet){
      width: inherit;
    }
  }

  a{
    display: inline-block;
    @include rem(margin-top, 20px);
    text-align: center;
    width: 100%;

    @include media($tablet){
      @include rem(margin-top, 10px);
      float: right;
      width: inherit;
    }
  }
}


/*-----------------------
Forms
-----------------------*/
form{
  .row{
    margin-bottom: 0px;
  }
}

/*-----------------------
Radio Button Group
-----------------------*/
.radio-buttons{
  display: block;
  margin-top: 10px;
  width: 100%;

  @include media($tablet){
    margin: 0px;
  }

  input[type="radio"]{ display: none; }

  label.radio-button{
    background-color: $white-base;
    border: 1px solid $purple-base;
    display: inline-block;
    margin: 0px -1px 0px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: calc(100%/2);
    float: left;

    &:first-child{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  span{
    background: $white-base;
    color: $purple-base;
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 100%;

    &:hover{
      background-color: $purple-base;
      color: $white-base;
      @include transition(all 0.3s ease-in-out);
    }
  }

  input:checked + span{
    background-color: $purple-base;
    color: $white-base;
  }
}