.results-header{
  .container{
    padding: 20px 20px;

    @media screen and (min-width: 892px) {
      //padding: 50px;
    }
  }

  .basic-logo{
    margin-bottom: 10px;
    width: 77px;
  }

  h1{
    margin-bottom: 5px;
  }

  p{
    margin-bottom: 0px;

    strong{
      text-transform: uppercase;
    }
  }

  .pagination{
    @media screen and (min-width: 768px) {
      margin-top: 40px;
    }
  }
}

#Div1{
  .quick-search{
    float: left;
    margin-top: -10px;
    width: auto;

    select{
      background-color: none !important;
      border: 1px solid $blue-grey-med;
      border-radius: 0px;
      height: 37px;
      padding: 8px;
    }
  }
}

.search-bar{
  display: inline-block;
  position: relative;

  input{
    border: 1px solid $blue-grey-med;
    min-width: 300px;
    padding: 8px 30px 8px 8px;
    border-radius: 3px;
  }

  &:after{
    content: "";
    background: url('../../images/icons/search.svg') no-repeat center;
    background-size: 100%;
    display: inline-block;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}