
/*-----------------------
Landing
-----------------------*/
.main-search{
  background-color: $blue-grey-light;
  border-top: 1px solid $blue-grey-med;
  margin-top: -25px;
  position: relative;
  display: inline-block;
  width: 100%;

  &:after{
    @media screen and (min-width: 1024px){
      content: "";
      background-color: $blue-grey-base !important;
      width: 42%;
      position: absolute;
      top: 0px;
      right: 0px;
      display: inline-block;
      z-index: 0;
      height: 100%;
      -webkit-print-color-adjust: exact;
    }
  }

  .container{
    @media screen and (min-width: 1024px){
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
    }

    min-height: 360px;

    .search-block{
      @media screen and (min-width: 1024px){
        padding-right: 30px;
        float: left;
        width: 60%;
        //padding: 0px;
      }
    }

    .text-block{
      background-color: #52798F !important;
      position: relative;
      z-index: 1;
      padding: 40px 20px;
      margin: 0px -20px;
      -webkit-print-color-adjust: exact; 

      @media screen and (min-width: 1024px){
        background-color: transparent !important;
        width: 40%;
        float: right;
        margin: 0px;
        padding: 0px;
        float: right;
        -webkit-print-color-adjust: exact;
      }

      p{
        color: $white-base !important;
        font-size: 16px;
        max-width: 550px;
        margin: 0 auto;

        @media screen and (min-width: 1024px){
          max-width: 320px;
        }
      }
    }
  }
}

.search-block.primary{
  //padding: 20px;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .logo{
    margin-bottom: 30px;
    width: 140px;
  }

  .search-block-inner{
    //@include vertical-horizontal-center;
    padding: 30px 0px;
  }

  .nav-tabs{
    a{
      background-color: #DBDBDB !important;
      color: #202C42;
      text-decoration: none;
      font-weight: bold;
      border-radius: 0px;
      text-align: center;
      border: none;
      -webkit-print-color-adjust: exact;

      @media screen and (min-width: 768px) {
        width: 150px;
      }
    }

    .active a{
      background-color: #202C42 !important;
      border: none;
      color: $white-base !important;
      -webkit-print-color-adjust: exact;
    }
  }

  .tab-pane{
    background-color: #202C42 !important;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-print-color-adjust: exact;

    .search-bar{
      width: 100%;
      display: inline-block;

      @media screen and (min-width: 768px), print {
        width: calc(100% - 190px);
      }

      input{
        background-color: $white-base !important;
        padding: 8px 8px 8px 40px;
        min-width: 0px;
        width: 100%;
        -webkit-print-color-adjust: exact;
      }

      &:after{
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .btn{
      background-color: $blue-grey-base !important;
      color: $white-base !important;
      padding: 11px 10px;
      width: 100%;
      margin-top: 10px;
      -webkit-print-color-adjust: exact;

      @media screen and (min-width: 768px), print {
        margin-top: 0px;
        width: 180px;
      }


      &:hover{
        background-color: $blue-grey-dark;
      }
    }
  }

  p a{
    color: $black-base;
  }
}

/*-----------------------
Autocomplete
-----------------------*/
.search-bar{
  &.is-active{
    .autocomplete{
      display: block;
    }
  }
}

.autocomplete{
  display: none;
  position: absolute;
  background-color: $white-base;
  width: 100%;
  margin-top: -2px;
  padding: 0px;
  border-top: 1px solid #f2f6f8;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  li{
    list-style: none;
    margin: 0px;
    font-size: 13px;

    a{
      padding: 6px 10px;
      color: black;
      display: inline-block;
      width: 100%;

      &:hover{
        background-color: #f2f6f8;
      }
    }

    &.search-all{
      border-top: 1px solid #f2f6f8;
    }

    p{
      display: inline-block;
      margin: 0px;
    }

    p:nth-child(2){
      @media screen and (min-width: 768px){
        float: right;
      }
    }
  }
}