/*-----------------------
Side Navigation
-----------------------*/
.side-bar{
  background-color: $blue-base;

  @include media($tablet-landscape){
    width: 260px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    padding: 25px 27px;
    overflow: auto;
  }

  .logo{
    @include media($tablet-landscape){
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

  h5{
    color: $white-base;
    opacity: 0.3;
    margin-top: 20px;
  }

  li{
    margin-bottom: 15px;

    .sub-nav{
      display: none;
    }

    &.is-active{
      .sub-nav{
        display: block;
      }
    }
  }

  a{
    color: $white-base;
    @include s-small;
    text-decoration: none;

    &:hover{
      opacity: 0.8;
    }

    i{
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      display: inline-block;
      position: relative;
      height: 30px;
      width:30px;
      margin-right: 10px;
      vertical-align: middle;

      img{
        width: 34px;
        @include vertical-horizontal-center;
        opacity: 0.5;
      }
    }
  }
}

.sub-nav{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  padding: 5px 0px;

  li{
    margin: 8px 0px 8px 40px;
  }
}