/*-----------------------
Side Navigation
-----------------------*/
.side-bar{
  background-color: $blue-base !important;
  margin-top: -25px;
  padding: 25px 27px;
  z-index: 1;
  margin: -39px -20px 20px;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  @media screen and (min-width: 992px){
    margin-top: 0px;
    margin-left: -5px;
    width: 260px;
    position: absolute;
    top: -41px;
    bottom: 0px;
    left: 20px;
    height: calc(100% + 57px);
  }

  .logo{
    width: 75px;
    margin-bottom: 10px;
  }

  h3, h6{
    color: $white-base !important;
    margin-bottom: 10px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  h3{
    text-transform: uppercase;
  }

  p, a, p strong{
    color: $white-base !important;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  a{
    text-decoration: underline;

    &:hover{
      opacity: 0.8;
    }
  }

  .text-block{
    display: inline-block;
    width: calc(100% - 50px);
  }

  .icon-small{
    display: inline-block;
    width: 30px;
    vertical-align: top;

    img{
      max-height: 20px;
      width: auto;
      max-width: 30px;
      height: auto;
    }
  }

  ul{
    padding: 0px;

    li{
      margin-top: 25px;
      list-style-type: none;

      p{
        strong{
          opacity: 0.5;
        }
      }
    }
  }

  .member-block, .bar-block{
    display: inline-block;
    margin-top: 5px;
    padding: 10px 30px 10px 30px;
    position: relative;
    width: 100%;

    @media screen and (min-width: 1024px), print{
      width: calc(100% + 40px);
    }

    &:after{
      @media screen and (min-width: 1024px), print{
        content: "";
        height: 0;
        width: 0;
        border-top: 13px solid darken($green-base, 10%);
        border-right: 13px solid $blue-grey-light;
        position: absolute;
        bottom: -13px;
        right: 0;
      }
    }
  }

  .member-block{
    background-color: $green-base !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .status-block{
    background-color: rgba(255, 255, 255, 0.1) !important;
    padding: 10px 30px 10px 30px;
    margin-top: 15px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .bar-block{
    background-color: $red-base;

    &:after{
      border-top: 13px solid $red-dark;
      border-left: 13px solid #F1F2F4;
    }
  }
}


