/*-----------------------
Table
-----------------------*/
.scrollable-table{
  margin-top: 20px;
  overflow: auto;

  table{
    width: 100%;
    white-space: pre;

    tr{
      &.summary-row{
        background-color: #F6F7F8;
      }
    }

    thead{
      th{
        background-color: $black-base;
        color: $white-base;
        font-weight: $bold;
      }
    }

    tr:nth-child(even){
      background-color: $white-med;
    }

    th, td{
      @include font-type($primary-sans-serif, normal, $regular);
      text-align: left;
      padding: 15px;
      position: relative;
      @include s-base;

      small{
        @include s-tiny;
      }

      i, img{
        vertical-align: middle;
        margin: 0px 5px 0px 0px;
      }
    }
  }
}

table{
  width: 100%;
}

th, td{
  padding: 10px;
}

th{
  color: $blue-grey-base;
  border-bottom: 2px solid $blue-grey-base;
}

tr:nth-child(even){
  background-color: $blue-grey-light;
}


/*-----------------------
Blade Table
-----------------------*/
.blade-table{
  border-collapse:separate;
  border-spacing: 0 10px;
  cursor: pointer;
  width: 100%;

  thead{
    display: none;

    @include media($tablet-landscape){
      display: table-header-group;
    }

    tr{
      background-color:transparent;
      box-shadow: none;
      color: $black-base;
      cursor: default;

      &:hover{
        background-color: transparent;
        box-shadow: none;
      }

      @include media($tablet-landscape){
        height: auto;
      }

      th{
        border: none;
        color: $black-base;
        font-size: 16px;
        font-weight: bold;
        padding: 0px 20px 10px 0px;
        text-align: left;
        //white-space: nowrap;
        position: relative;

        &:first-child{
          padding: 0px 20px;
        }

        &:not(:first-child){
          padding: 0px 0px 0px 50px;
        }

        &:last-child{
          padding: 0px 0px 0px 30px;
        }

        span{
          @include media($tablet-landscape){
            //max-width: 100px;
          }
        }

        .tooltip-trigger{
          background-color: $blue-grey-med;
          color: $grey-dark;
        }
      }
    }
  }

  tr{
    background-color: $white-base;
    border: 1px solid $blue-grey-med;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;

    &:hover{
      box-shadow: 0 0 12px 0 rgba(196,187,187,0.50);

      h4{
        text-decoration: underline;
      }
    }

    @include media($tablet){
      @include span-columns(6 of 12);
      @include omega(2n);
      height: auto;
      margin-bottom: 20px;
    }

    @include media($tablet-landscape) {
      border: none;
      display: table-row;
      width: 100%;
      float: none;
      margin: 0px;
      height: 98px;
    }

    td{
      padding: 10px 0px;
      margin: 0px 20px;
      text-align: left;
      vertical-align: middle;
      border-bottom: 1px solid $blue-grey-med;
      display: block;
      font-size: 16px;

      @include media($tablet-landscape){
        display: table-cell;
        padding: 10px 20px 10px 0px;
        border-top: 1px solid $blue-grey-med;
      }

      &:first-child{
        padding: 20px 0px;
        @include media($tablet-landscape){
          padding: 10px 10px 10px 20px;
          border-left: 1px solid $blue-grey-med;
          min-width: 330px;
          //width: 100%;
        }
      }

      &:nth-child(2){
        border-bottom: none;
        padding-bottom: 0px;

        @include media($tablet-landscape){
          border-bottom: 1px solid $blue-grey-med;
          padding: 10px 20px;
        }
      }

      &:nth-child(3){
        padding-top: 0px;

        @include media($tablet-landscape){
          padding: 10px 20px;
        }
      }

      &:nth-child(4){
        border-bottom: none;

        @include media($tablet-landscape){
          border-bottom: 1px solid $blue-grey-med;
        }
      }

      &:last-child{
        border-bottom: 0px;
        padding-bottom: 20px;

        @include media($tablet-landscape){
          border-right: 1px solid $blue-grey-med;
          border-bottom: 1px solid $blue-grey-med;
          padding-bottom: 0px;
        }
      }

      &:before {
        content: attr(data-th);
        display: block;
        font-weight: bold;
        width: 100%;
        @include s-small;

        @include media ($tablet-landscape){
          display: none;
        }
      }

      span{

        @include media($tablet-landscape){
          font-weight: bold;
          display: table-cell;
          height: 62px;
          vertical-align: middle;
          border-left: 1px solid $blue-grey-med;
          padding: 0px 30px;
        }
      }

      small{
        @include media($tablet-landscape){
          font-weight: normal;
        }
      }
    }

    p, a{
      display: inline-block;
      @include s-base;
      font-weight: bold;
    }

    h4{
      color: $black-base;
      margin-bottom: 4px;
      font-size: 17px;

      span{
        padding: 0px;
        border: none;
        height: auto;
        display: inline;
      }
    }

    a{
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      img{
        width: 25px;
      }
    }
  }

  .btn{
    width: 100%;
    background-color: #012d6a;

    &:hover{
      background-color: #101d49;
    }

    @include media($tablet-landscape){
      display: none;
    }
  }
}

/*-----------------------
Sorting
-----------------------*/
th .sort-by {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
  margin-left: 5px;

  &.ascending:before{
    border-bottom-color: $blue-dark;
    opacity: 1;
  }

  &.descending:after{
    border-top-color: $blue-dark;
    opacity: 1;
  }
}

.sort-by:before,
.sort-by:after {
  border: 5px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
  opacity: 0.5;
}

.sort-by:before {
  border-bottom-color: $grey-dark;
  margin-top: -12px;
}

.sort-by:after {
  border-top-color: $grey-dark;
  margin-top: 1px;
}

/*-----------------------
Table Filter
-----------------------*/
.table-filter{
  position: relative;
  width: 25px;
  display: inline-block;

  .btn{
    background-color: transparent;
    padding: 0px 5px;
    display: inline-block;

    img{
      width: 15px;
    }

    &:hover, &:focus{
      opacity: 0.8;
      background-color: transparent;
    }
  }

  .dropdown-menu{
    a{
      text-decoration: none;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.th-wrap{
  @include media($tablet-landscape){
    max-width: 180px;
    display: inline-block;
  }
}