/*-----------------------
Table
-----------------------*/
.card{
  overflow: auto;
}
.scrollable-table{
  overflow: auto;

  @media screen and (min-width: 1024px) {
    overflow: visible;
  }

  table{
    width: 100%;

    th{
      white-space: nowrap;

      @media screen and (min-width: 1024px) {
        max-width: 130px;
        vertical-align: bottom;
        white-space: normal;
      }
    }
  }
}

table{
  width: 100%;
}

th, td{
  padding: 10px;
}

th{
  color: $blue-grey-base;
  border-bottom: 2px solid $blue-grey-base;
}

tr:nth-child(even){
  background-color: $blue-grey-light;
}


/*-----------------------
Blade Table
-----------------------*/
.blade-table{
  border-collapse:separate;
  border-spacing: 0 10px;
  cursor: pointer;
  width: 100%;

  thead{
    display: none;

    @media screen and (min-width: 1024px){
      display: table-header-group;
    }

    tr{
      background-color:transparent;
      box-shadow: none;
      color: $black-base;
      cursor: default;

      &:hover{
        background-color: transparent;
        box-shadow: none;
      }

      @media screen and (min-width: 1024px){
        height: auto;
      }

      th{
        border: none;
        color: $black-base;
        font-size: 16px;
        font-weight: bold;
        padding: 0px 20px 10px 0px;
        text-align: left;
        //white-space: nowrap;
        position: relative;
        vertical-align: bottom;

        &:first-child{
          padding: 0px 20px;
        }

        &:not(:first-child){
          padding: 0px 0px 0px 50px;
        }

        &:last-child{
          padding: 0px 0px 0px 30px;
        }

        .tooltip-trigger{
          background-color: $blue-grey-med;
          color: $grey-dark;
        }
      }
    }
  }

  tr{
    background-color: $white-base;
    border: 1px solid $blue-grey-med;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    vertical-align: top;

    &:hover{
      box-shadow: 0 0 12px 0 rgba(196,187,187,0.50);

      h4{
        text-decoration: underline;
      }
    }

    @media screen and (min-width: 768px) {
      display: inline-block;
      width: 48%;
      margin: 0 1%;
      height: auto;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1024px){
      border: none;
      display: table-row;
      width: 100%;
      float: none;
      margin: 0px;
      height: 98px;
    }

    td{
      padding: 10px 0px;
      margin: 0px 20px;
      text-align: left;
      vertical-align: middle;
      border-bottom: 1px solid $blue-grey-med;
      display: block;
      font-size: 16px;

      @media screen and (min-width: 1024px){
        display: table-cell;
        padding: 10px 20px 10px 0px;
        border-top: 1px solid $blue-grey-med;
      }

      &:first-child{
        padding: 20px 0px;
        @media screen and (min-width: 1024px){
          padding: 10px 10px 10px 20px;
          border-left: 1px solid $blue-grey-med;
          min-width: 330px;
        }
      }

      &:nth-child(2){
        border-bottom: none;
        padding-bottom: 0px;

        @media screen and (min-width: 1024px){
          border-bottom: 1px solid $blue-grey-med;
          padding: 10px 20px;
        }
      }

      &:nth-child(3){
        padding-top: 0px;

        @media screen and (min-width: 1024px){
          padding: 10px 20px;
        }
      }

      &:nth-child(4){
        border-bottom: none;

        @media screen and (min-width: 1024px){
          border-bottom: 1px solid $blue-grey-med;
        }
      }

      &:last-child{
        border-bottom: 0px;
        padding-bottom: 20px;

        @media screen and (min-width: 1024px){
          border-right: 1px solid $blue-grey-med;
          border-bottom: 1px solid $blue-grey-med;
          padding-bottom: 0px;
        }
      }

      &:before {
        content: attr(data-th);
        display: block;
        font-weight: bold;
        width: 100%;
        font-size: $s-small;

        @media screen and (min-width: 1024px){
          display: none;
        }
      }

      span{

        @media screen and (min-width: 1024px){
          font-weight: bold;
          display: table-cell;
          height: 62px;
          vertical-align: middle;
          border-left: 1px solid $blue-grey-med;
          padding: 0px 30px;
        }
      }

      small{
        @media screen and (min-width: 1024px){
          font-weight: normal;
        }
      }
    }

    p, a{
      display: inline-block;
      font-size: $s-base;
      font-weight: bold;
    }

    h4{
      color: $black-base;
      margin-bottom: 4px;
      font-size: 17px;

      span{
        padding: 0px;
        border: none;
        height: auto;
        display: inline;
      }
    }

    a{
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      img{
        width: 25px;
      }
    }
  }

  .btn{
    width: 100%;
    background-color: #012d6a;

    &:hover{
      background-color: #101d49;
    }

    @media screen and (min-width: 1024px){
      display: none;
    }
  }
}

tr.highlight{
  td{
    font-weight: bold;
  }
}

.blade-table{

  .with-toggle{
    position: relative;

    span{
      display: inline-block;
      padding-right: 60px;
      width: 100%;
      display: inline-table;
    }
  }

  .panel-group{
    margin: 0px;
  }

  .panel{
    border: none;
    box-shadow: none;

    .panel-heading{
      position: absolute;
      right: 0px;
      top: 10px;
      border: 1px solid $blue-grey-med;
      border-radius: 4px;
      padding: 0px;

      @media screen and (min-width: 1024px){
        top: 30px;
        right: 20px;
      }

      h4{
        margin-bottom: 0px;
      }

      a{
        padding: 10px 15px;
      }
    }

    .collapsed{
      display: inline-block;
    }

    .panel-collapse{
      ul{
        border: none;
        padding: 0px;

        @media screen and (min-width: 1024px){
          margin: 0px 0px 0px 30px;
        }
      }

      li{
        list-style: none;
        border-top: 1px solid $blue-grey-med;

        span{
          border-left: none;
          display: inline-block;
          padding: 10px 0px 5px;

          @media screen and (min-width: 1024px){
            padding: 10px 0px;
          }
        }
      }
    }
  }
}

/*-----------------------
Sorting
-----------------------*/
th .sort-by {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
  margin-left: 5px;

  &.ascending:before{
    border-bottom-color: $blue-dark;
    opacity: 1;
  }

  &.descending:after{
    border-top-color: $blue-dark;
    opacity: 1;
  }
}

.sort-by:before,
.sort-by:after {
  border: 5px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
  opacity: 0.5;
}

.sort-by:before {
  border-bottom-color: $grey-dark;
  margin-top: -12px;
}

.sort-by:after {
  border-top-color: $grey-dark;
  margin-top: 1px;
}

.card-inner th .sort-by {
  &.ascending:before{
    border-bottom-color: $blue-grey-base;
  }

  &.descending:after{
    border-top-color: $blue-grey-base;
  }
}

/*-----------------------
Table Filter
-----------------------*/
.table-filter{
  position: relative;
  width: 25px;
  display: inline-block;

  .btn{
    background-color: transparent;
    padding: 0px 5px;
    display: inline-block;

    img{
      width: 15px;
    }

    &:hover, &:focus{
      opacity: 0.8;
      background-color: transparent;
    }
  }

  .dropdown-menu{
    a{
      text-decoration: none;
      display: inline-block;
      width: 100%;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

//Mobile Sort/Filter
.mobile-sort-filter{
  background-color: darken($blue-grey-light, 5%);
  border-top: 1px solid $blue-grey-med;
  padding: 10px 20px;

  @media screen and (min-width: 1024px){
    display: none;
  }

  p, select, .table-filter{
    display: inline-block;
    margin-bottom: 0px;
  }

  select{
    background-color: transparent;
    border: none;
  }

  .table-filter{
    background-color: $blue-grey-light;
    border: 1px solid $blue-grey-med;
    float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 2.3;

    .dropdown-menu{
      left: inherit;
      right: 0px;

      strong{
        display: inline-block;
        line-height: 1.2;
        padding: 3px 20px;
        width: 100%;
        margin-bottom: -5px;
        font-size: 13px;
      }
    }
  }
}


.th-wrap{
  @media screen and (min-width: 1024px){
    max-width: 180px;
    display: inline-block;
  }
}

.card{
  table{
    td{
      vertical-align: top;

      ul{
        padding-left: 20px;
        margin-bottom: 0px;
      }

      a{
        color: $black-base;

        &:hover{
          color: $green-base;
        }
      }
    }
  }
}