.card-error{
  position: relative;

  .error-message{
    background-color: $red-base;
    color: $white-base;
    padding: 5px 20px 5px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 28px;
    right: -10px;

    &:after{
      content: "";
      border-top: 65px solid $red-dark;
      border-left: 65px solid #F1F2F4;
      position: absolute;
      right: 0px;
      bottom: -9px;
    }
  }
}


.basic-content{
  position: relative;

  h3{
    font-size: 18.5px;
  }

  .red{
    color: $red-base;
  }
}

/*-----------------------
Button Primary
-----------------------*/
.card .btn-primary{
  background-color: $blue-grey-base;
  padding: 10px;
  min-width: 150px;

  &:hover{
    background-color: $blue-grey-dark;
  }

  img{
    margin-right: 10px;
    width: 19px;
    vertical-align: bottom;
  }
}

.card .btn-alert{
  background-color: $red-base;

  &:hover{
    background-color: $red-dark;
  }
}

/*-----------------------
Card
-----------------------*/

.card{
  background-color: $white-base;
  border: 1px solid $blue-grey-med;
  margin-bottom: 20px;
  overflow: visible;
  width: 100%;

  &.shorter-blade{
    padding: 0px;

    .card-inner{
      padding: 20px 30px;
    }
  }

  .card-header{
    background-color: $blue-grey-light;
    border-bottom: 1px solid $blue-grey-med;
    padding: 20px;
    display: inline-block;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding: 20px 30px;
    }

    h3{
      color: $black-base;
      margin-bottom: 5px;

      span{
        font-weight: normal;
      }
    }

    p{
      margin-bottom: 0px;
    }

    button{
      display: block;
      margin-top: 10px;

      @media screen and (min-width: 768px) {
        float: right;
        margin-top: -7px;
      }
    }

    .text-block{
      display: inline-block;
      width: calc(100% - 80px);
      vertical-align: middle;

      @media screen and (min-width: 768px) {
        width: calc(100% - 250px);
      }
    }

    a{
      margin-top: 20px;

      @media screen and (min-width: 768px) {
        margin-top: 0px;
      }
    }

    &.with-header-only{
      i{
        vertical-align: middle;
      }
    }

    &.with-dropdown{
      i{
        vertical-align: middle;
      }

      .text-block{
        width: auto;
      }

      select{
        margin-top: 6px;
        @media screen and (min-width: 1024px) {
          float: right;
        }
      }
    }
  }

  .header-block{
    h3{
      font-weight: 900;
      margin-bottom: 25px;
    }
  }

  .card-inner{
    display: inline-block;
    padding: 20px;
    height: 100%;
    position: relative;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding: 30px;
    }

    h3{
      color: $black-base;
    }

    .card-inner-header{
      .text-block{
        @media screen and (min-width: 768px) {
          display: inline-block;
          width: calc(100% - 300px);
        }
      }

      select{
        @media screen and (min-width: 768px) {
          float: right;
        }
      }
    }

    .card-center-inner{
      @media screen and (min-width: 1024px){
        @include vertical-horizontal-center;
        width: calc(100% - 60px);
      }
    }
  }
}

.circle-icon{
  background-color: $blue-grey-base;
  border-radius: 20em;
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  width: 50px;
  vertical-align: top;

  &.warn{
    background-color: $red-base;
  }
}

.interior{
  background-color: $blue-grey-light;
  border-top: 1px solid $blue-grey-med;

  .container{
    padding: 30px 15px 30px;
  }
}

/*-----------------------
Content with Sidebar
-----------------------*/
.content-with-sidebar{
  background-color: $blue-grey-light;
  border-top: 1px solid $blue-grey-med;
  padding: 40px 0px;

  @media screen and (min-width: 1024px){
    margin-top: -25px;
    margin-left: 260px;
    padding: 40px 20px;
    width: calc(100% - 260px);
  }

  h1{
    color: #4A4A4A;
  }

  .red-alert{
    color: #DA4848;
  }

  .container{
    max-width: 990px;
  }
}

/*-----------------------
Bar Banner
-----------------------*/
.bar-banner{
  background-color: $red-base;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;

  &:after{
    content: "";
    height: 0;
    width: 0;
    border-top: 65px solid $blue-grey-light;
    border-left: 65px solid darken($red-base, 10%);
    position: absolute;
    top: 0;
    right: 0;
  }

  h3, p, a{
    color: $white-base;
  }

  h3{
    margin-bottom: 5px;
  }

  p{
    margin-bottom: 0px;
  }

  .text-block{
    display: inline-block;
    width: calc(100% - 250px);
    vertical-align: middle;
  }

  .circle-icon{
    background-color: darken($red-base, 10%);
  }
}

.card .card-header{
  .action-summary{

    .item{
      display: inline-block;
      width: 100%;
      margin-top: 5px;

      @media screen and (min-width: 768px) {
        margin-top: 20px;
        width: auto;
      }

      &:not(:last-child){
        @media screen and (min-width: 768px) {
          border-right: 1px solid $blue-grey-med;
          padding-right: 20px;
          margin-right: 20px;
        }
      }
    }

    .text-block{
      width: auto;
      vertical-align: middle;
    }
  }
}

.large-value{
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 0.9
}

.table-awards-and-claims{
  th{
    &:not(:last-child){
      border-right: 1px solid $blue-grey-med;
    }
  }

  td{
    &:nth-child(odd):not(:last-child){
      border-right: 1px solid $blue-grey-med;
    }
  }
}

.item{
  &.is-horizontal{
    margin-top: 10px;
    text-align: center;
    &:not(:last-child){
      border-right: 1px solid $blue-grey-med;

    }
  }

  &.is-vertical{
    &:not(:last-child){
      border-bottom: 1px solid $blue-grey-med;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    .large-value{
      display: inline-block;
      line-height: 2.05;
      border-right: 1px solid $blue-grey-med;
      padding-right: 20px;
      margin-right: 20px;
    }

    .text-block{
      display: inline-block;
      width: calc(100% - 64px);
      vertical-align: middle;

      h3, p, a{
        margin-bottom: 0px;
      }
    }

    &.with-button{
      .text-block{
        width: calc(100% - 218px);
      }

      .bth{
        float: right;
      }
    }
  }
}

.reg-actions-card{
  text-align: center;

  @media screen and (min-width: 1024px){
    margin-right: 2.35765%;
    width: 57.35098%;
    float: left;
    height: 225px;
  }

  .btn{
    margin-top: 15px;
  }
}

.cases-card{

  @media screen and (min-width: 1024px){
    width: 40.29137%;
    float: left;
    height: 225px;
  }
}

.grouped-cards{
  display: inline-block;
  width: 100%;
}


//Panel
.panel-group{
  .panel.card{
    border-radius: 0px;
    box-shadow: none;

    .card-header.panel-heading{
      background-color: lighten($blue-grey-light, 2%);
      border-radius: 0px;
      padding: 0px;

      .text-block{
        width: calc(100% - 90px);
      }

      a{
        display: inline-block;
        text-decoration: none;
        padding: 20px 30px;
        position: relative;
        width: 100%;

        &:after{
          content: "–";
          position: absolute;
          top: 8px;
          right: 20px;
          font-size: 50px;
          color: $blue-grey-med;
        }

        &.collapsed:after{
          content: "+";
        }
      }

      p{
        color: $black-base;
      }

    }
  }
}


.two-blades{
  .card{
    @media screen and (min-width: 1024px){
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%;
    }

    &:last-child{
      @media screen and (min-width: 1024px){
        margin: 0;
      }
    }
  }
}

.note{
  background-color: #CFD7DB;
  display: inline-block;
  margin-top: 20px;
  padding: 30px;
  width: 100%;

  p:last-child{
    margin-bottom: 0px;
  }
}

//FCM Charts
.fcm-charts{
  margin-top: 30px;
  border-top: 1px solid $blue-grey-med;
  padding-top: 30px;

  td:not(:last-child){
    border-right: 1px solid $blue-grey-med;
  }

  td:not(:first-child){
    text-align: center;
  }
}

select{
  background-color: $white-base;
  border: 1px solid $blue-grey-med;
  height: 40px;
  -webkit-appearance: none;
        -moz-appearance: none;
         -ms-appearance: none;
          -o-appearance: none;
             appearance: none;
  background-image: url('../images/icons/dropdown.svg');
  background-position: right 12px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: pointer;
  padding: 8px 32px 8px 12px;
  text-overflow: ellipsis;
}

select::-ms-expand {
    display: none;
}