/*-----------------------
Main Wrapper
-----------------------*/
.main-wrapper{
  background-color: #F1F2F4;
  min-height: 100vh;

  @include media($tablet-landscape){
    margin-left: 260px;
  }

  &.styleguide-wrapper section{
    padding: 50px;

    &:nth-child(even){
      background-color: #eaecf0;
    }

    h4.styleguide-header{
      margin-bottom: 30px;
    }
  }
}

.styleguide-wrapper{
  .modal{
    height: 500px;
    position: relative;

    .modal-fade-screen {
      @include position(absolute, 0 0 0 0);
    }
  }
}

.styleguide-wrapper{
  .side-navigation{
    position: relative;
  }
}

.styleguide-wrapper{
  .data-blocks{
    margin: 0px;
    width: 100%;
  }
}

.styleguide-wrapper{
  .alert{
    margin: 0px;
    position: relative;
    width: 100%;
  }
}

.styleguide-wrapper{
  .full-page-loading{
    height: 400px;
    width: 100%;
  }
}

.styleguide-wrapper{
  .fixed-footer{
    margin: 0px;
    position: relative;
    width: 100%;
  }
}

/*-----------------------
Color Blocks
-----------------------*/

.color-block{
  display: inline-block;
  width: 100px;
  background-color: $white-base;
  border-radius: 3px;

  .color{
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid $white-med;
    height: 80px;
  }

  .text-block{
    padding: 10px;

    h6, p{
      margin: 0px;
      text-align: center;
    }

    p{
      @include s-tiny;
    }
  }
}

/*-----------------------
Asset Block
-----------------------*/
.relevant-logo-block{
  display: inline-block;

  img{
    display: inline-block;
    margin-right: 15px;
    width: 50px;
  }
}

/*-----------------------
Code Snippet
-----------------------*/
xmp{
  background-color: $white-base;
  border-radius: 3px;
  padding: 20px;
  white-space: pre-wrap;
}