html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*-----------------------
Buttons
-----------------------*/
img {
  width: 100%; }

.horizontal-divider {
  border-bottom: 1px solid #e9edef; }

/*-----------------------
Spinner
-----------------------*/
#spinner {
  margin-top: 50px;
  margin-top: 3.57143rem;
  text-align: center; }
  #spinner:after {
    border: 3px solid #754681;
    border-radius: 50%;
    border-top-color: #754681;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: inline-block;
    height: 30px;
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    width: 30px; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.results-header .container {
  padding: 20px 20px; }
.results-header img {
  margin-bottom: 10px;
  width: 77px; }
.results-header h1 {
  margin-bottom: 5px; }
.results-header p {
  margin-bottom: 0px; }
  .results-header p strong {
    text-transform: uppercase; }
@media screen and (min-width: 768px) {
  .results-header .pagination {
    margin-top: 40px; } }

#Div1 .quick-search {
  float: left;
  margin-top: -10px;
  width: auto; }
  #Div1 .quick-search .search-bar {
    display: inline-block;
    position: relative; }
    #Div1 .quick-search .search-bar input {
      border: 1px solid #CFD7DB;
      min-width: 300px;
      padding: 8px 30px 8px 8px; }
    #Div1 .quick-search .search-bar:after {
      content: "";
      background: url("../images/icons/search-6f6b21ef.svg") no-repeat center;
      background-size: 100%;
      display: inline-block;
      height: 18px;
      width: 18px;
      position: absolute;
      top: 10px;
      right: 10px; }
  #Div1 .quick-search select {
    background-color: none !important;
    border: 1px solid #CFD7DB;
    border-radius: 0px;
    height: 37px;
    padding: 8px; }

/*-----------------------
Table
-----------------------*/
.scrollable-table {
  margin-top: 20px;
  overflow: auto; }
  .scrollable-table table {
    width: 100%;
    white-space: pre; }
    .scrollable-table table tr.summary-row {
      background-color: #F6F7F8; }
    .scrollable-table table thead th {
      background-color: #49494a;
      color: #FFFFFF;
      font-weight: 700; }
    .scrollable-table table tr:nth-child(even) {
      background-color: #CFD7DB; }
    .scrollable-table table th, .scrollable-table table td {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 400;
      text-align: left;
      padding: 15px;
      position: relative;
      font-size: 13px;
      font-size: 0.92857rem; }
      .scrollable-table table th small, .scrollable-table table td small {
        font-size: 10px;
        font-size: 0.71429rem;
        line-height: 14px;
        line-height: 1rem; }
      .scrollable-table table th i, .scrollable-table table th img, .scrollable-table table td i, .scrollable-table table td img {
        vertical-align: middle;
        margin: 0px 5px 0px 0px; }

table {
  width: 100%; }

th, td {
  padding: 10px; }

th {
  color: #52798f;
  border-bottom: 2px solid #52798f; }

tr:nth-child(even) {
  background-color: #f2f6f8; }

/*-----------------------
Blade Table
-----------------------*/
.blade-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  cursor: pointer;
  width: 100%; }
  .blade-table thead {
    display: none; }
    @media screen and (min-width: 64em) and (orientation: landscape) {
      .blade-table thead {
        display: table-header-group; } }
    .blade-table thead tr {
      background-color: transparent;
      box-shadow: none;
      color: #49494a;
      cursor: default; }
      .blade-table thead tr:hover {
        background-color: transparent;
        box-shadow: none; }
      @media screen and (min-width: 64em) and (orientation: landscape) {
        .blade-table thead tr {
          height: auto; } }
      .blade-table thead tr th {
        border: none;
        color: #49494a;
        font-size: 16px;
        font-weight: bold;
        padding: 0px 20px 10px 0px;
        text-align: left;
        position: relative; }
        .blade-table thead tr th:first-child {
          padding: 0px 20px; }
        .blade-table thead tr th:not(:first-child) {
          padding: 0px 0px 0px 50px; }
        .blade-table thead tr th:last-child {
          padding: 0px 0px 0px 30px; }
        .blade-table thead tr th .tooltip-trigger {
          background-color: #CFD7DB;
          color: #9B9B9B; }
  .blade-table tr {
    background-color: #FFFFFF;
    border: 1px solid #CFD7DB;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px; }
    .blade-table tr:hover {
      box-shadow: 0 0 12px 0 rgba(196, 187, 187, 0.5); }
      .blade-table tr:hover h4 {
        text-decoration: underline; }
    @media screen and (min-width: 45em) {
      .blade-table tr {
        float: left;
        display: block;
        margin-right: 0.88763%;
        width: 49.55618%;
        height: auto;
        margin-bottom: 20px; }
        .blade-table tr:last-child {
          margin-right: 0; }
        .blade-table tr:nth-child(2n) {
          margin-right: 0; }
        .blade-table tr:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 64em) and (orientation: landscape) {
      .blade-table tr {
        border: none;
        display: table-row;
        width: 100%;
        float: none;
        margin: 0px;
        height: 98px; } }
    .blade-table tr td {
      padding: 10px 0px;
      margin: 0px 20px;
      text-align: left;
      vertical-align: middle;
      border-bottom: 1px solid #CFD7DB;
      display: block;
      font-size: 16px; }
      @media screen and (min-width: 64em) and (orientation: landscape) {
        .blade-table tr td {
          display: table-cell;
          padding: 10px 20px 10px 0px;
          border-top: 1px solid #CFD7DB; } }
      .blade-table tr td:first-child {
        padding: 20px 0px; }
        @media screen and (min-width: 64em) and (orientation: landscape) {
          .blade-table tr td:first-child {
            padding: 10px 10px 10px 20px;
            border-left: 1px solid #CFD7DB;
            min-width: 330px; } }
      .blade-table tr td:nth-child(2) {
        border-bottom: none;
        padding-bottom: 0px; }
        @media screen and (min-width: 64em) and (orientation: landscape) {
          .blade-table tr td:nth-child(2) {
            border-bottom: 1px solid #CFD7DB;
            padding: 10px 20px; } }
      .blade-table tr td:nth-child(3) {
        padding-top: 0px; }
        @media screen and (min-width: 64em) and (orientation: landscape) {
          .blade-table tr td:nth-child(3) {
            padding: 10px 20px; } }
      .blade-table tr td:nth-child(4) {
        border-bottom: none; }
        @media screen and (min-width: 64em) and (orientation: landscape) {
          .blade-table tr td:nth-child(4) {
            border-bottom: 1px solid #CFD7DB; } }
      .blade-table tr td:last-child {
        border-bottom: 0px;
        padding-bottom: 20px; }
        @media screen and (min-width: 64em) and (orientation: landscape) {
          .blade-table tr td:last-child {
            border-right: 1px solid #CFD7DB;
            border-bottom: 1px solid #CFD7DB;
            padding-bottom: 0px; } }
      .blade-table tr td:before {
        content: attr(data-th);
        display: block;
        font-weight: bold;
        width: 100%;
        font-size: 12px;
        font-size: 0.85714rem; }
        @media screen and (min-width: 64em) and (orientation: landscape) {
          .blade-table tr td:before {
            display: none; } }
      @media screen and (min-width: 64em) and (orientation: landscape) {
        .blade-table tr td span {
          font-weight: bold;
          display: table-cell;
          height: 62px;
          vertical-align: middle;
          border-left: 1px solid #CFD7DB;
          padding: 0px 30px; } }
      @media screen and (min-width: 64em) and (orientation: landscape) {
        .blade-table tr td small {
          font-weight: normal; } }
    .blade-table tr p, .blade-table tr a {
      display: inline-block;
      font-size: 13px;
      font-size: 0.92857rem;
      font-weight: bold; }
    .blade-table tr h4 {
      color: #49494a;
      margin-bottom: 4px;
      font-size: 17px; }
      .blade-table tr h4 span {
        padding: 0px;
        border: none;
        height: auto;
        display: inline; }
    .blade-table tr a {
      text-decoration: none; }
      .blade-table tr a:hover {
        text-decoration: underline; }
      .blade-table tr a img {
        width: 25px; }
  .blade-table .btn {
    width: 100%;
    background-color: #012d6a; }
    .blade-table .btn:hover {
      background-color: #101d49; }
    @media screen and (min-width: 64em) and (orientation: landscape) {
      .blade-table .btn {
        display: none; } }

/*-----------------------
Sorting
-----------------------*/
th .sort-by {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
  margin-left: 5px; }
  th .sort-by.ascending:before {
    border-bottom-color: #070c1f;
    opacity: 1; }
  th .sort-by.descending:after {
    border-top-color: #070c1f;
    opacity: 1; }

.sort-by:before,
.sort-by:after {
  border: 5px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
  opacity: 0.5; }

.sort-by:before {
  border-bottom-color: #9B9B9B;
  margin-top: -12px; }

.sort-by:after {
  border-top-color: #9B9B9B;
  margin-top: 1px; }

/*-----------------------
Table Filter
-----------------------*/
.table-filter {
  position: relative;
  width: 25px;
  display: inline-block; }
  .table-filter .btn {
    background-color: transparent;
    padding: 0px 5px;
    display: inline-block; }
    .table-filter .btn img {
      width: 15px; }
    .table-filter .btn:hover, .table-filter .btn:focus {
      opacity: 0.8;
      background-color: transparent; }
  .table-filter .dropdown-menu a {
    text-decoration: none; }
    .table-filter .dropdown-menu a:hover {
      text-decoration: none; }

@media screen and (min-width: 64em) and (orientation: landscape) {
  .th-wrap {
    max-width: 180px;
    display: inline-block; } }

/*-----------------------
Tooltip
-----------------------*/
.tooltip-block {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  display: inline;
  transition: all .3s ease;
  cursor: pointer;
  display: inline;
  margin-left: 3px;
  z-index: 4; }
  .tooltip-block .tooltip-trigger {
    border: 1px solid #CFD7DB;
    border-radius: 20em;
    color: #CFD7DB;
    display: inline-block;
    line-height: 1.4;
    text-align: center;
    height: 20px;
    font-size: 14px;
    width: 20px; }
    @media screen and (min-width: 64em) and (orientation: landscape) {
      .tooltip-block .tooltip-trigger {
        padding: 0px !important; } }
  .tooltip-block:hover .tooltip-trigger:hover + .tooltip-content {
    opacity: 1;
    display: block; }
  .tooltip-block .tooltip-content {
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #CFD7DB;
    box-shadow: 0 0 4px 0 #CFD7DB;
    color: #49494a;
    font-size: 12px;
    line-height: 1.2;
    max-width: 280px;
    min-width: 105px;
    padding: 20px;
    position: absolute;
    display: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 1;
    width: max-content; }
    .tooltip-block .tooltip-content::after {
      background: #FFFFFF;
      border-bottom: 1px solid #CFD7DB;
      border-right: 1px solid #CFD7DB;
      content: "";
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      width: 10px; }
    .tooltip-block .tooltip-content p {
      color: #49494a;
      margin-bottom: 0px;
      display: block;
      font-weight: normal;
      margin: 4px 0px;
      white-space: normal;
      font-size: 12px;
      font-size: 0.85714rem; }
    .tooltip-block .tooltip-content h5 {
      color: #52798f;
      font-size: 13px; }
  .tooltip-block.top .tooltip-content {
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%); }
    .tooltip-block.top .tooltip-content::after {
      bottom: -5px;
      left: 50%;
      margin-left: -5px; }
  .tooltip-block.bottom .tooltip-content {
    top: calc(150%);
    left: 50%;
    transform: translateX(-50%); }
    .tooltip-block.bottom .tooltip-content::after {
      top: -5px;
      left: 50%;
      margin-left: -5px; }
  .tooltip-block.right .tooltip-content {
    left: calc(100% + 1.5em);
    top: 50%;
    transform: translateY(-50%); }
    .tooltip-block.right .tooltip-content::after {
      left: -5px;
      margin-top: -5px;
      top: 50%; }
  .tooltip-block.left .tooltip-content {
    right: calc(100% + 1.5em);
    top: 50%;
    transform: translateY(-50%); }
    .tooltip-block.left .tooltip-content::after {
      right: -5px;
      margin-top: -5px;
      top: 50%; }

.tooltip-content {
  background: #49494a;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.2;
  max-width: 240px;
  min-width: 105px;
  padding: 1em;
  position: absolute;
  opacity: 0;
  transition: all .3s ease; }
  .tooltip-content::after {
    background: #49494a;
    content: "";
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    width: 10px; }
  .tooltip-content hr {
    border-color: #9B9B9B;
    margin: 10px 0px; }

.tooltip .icon {
  border: 1px solid #FFFFFF;
  border-radius: 20em;
  height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  opacity: 0.5;
  width: 30px; }
  .tooltip .icon:hover {
    opacity: 0.8; }

/*-----------------------
Side Navigation
-----------------------*/
.side-bar {
  background-color: #101d49; }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .side-bar {
      width: 260px;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      height: 100%;
      padding: 25px 27px;
      overflow: auto; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .side-bar .logo {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin-bottom: 20px;
      padding-bottom: 20px; } }
  .side-bar h5 {
    color: #FFFFFF;
    opacity: 0.3;
    margin-top: 20px; }
  .side-bar li {
    margin-bottom: 15px; }
    .side-bar li .sub-nav {
      display: none; }
    .side-bar li.is-active .sub-nav {
      display: block; }
  .side-bar a {
    color: #FFFFFF;
    font-size: 12px;
    font-size: 0.85714rem;
    text-decoration: none; }
    .side-bar a:hover {
      opacity: 0.8; }
    .side-bar a i {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      display: inline-block;
      position: relative;
      height: 30px;
      width: 30px;
      margin-right: 10px;
      vertical-align: middle; }
      .side-bar a i img {
        width: 34px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        opacity: 0.5; }

.sub-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  padding: 5px 0px; }
  .sub-nav li {
    margin: 8px 0px 8px 40px; }

.basic-wrapper .pagination {
  max-width: 307px;
  margin-bottom: 0px; }
  @media screen and (min-width: 768px) {
    .basic-wrapper .pagination {
      float: right; } }
  .basic-wrapper .pagination .btn {
    background-color: #FFFFFF;
    border: 1px solid #CFD7DB;
    color: #49494a;
    text-transform: none;
    font-size: 13px;
    font-size: 0.92857rem;
    padding: 10px 16px; }
    .basic-wrapper .pagination .btn:hover {
      background-color: #f5f7f7; }
    .basic-wrapper .pagination .btn .icon {
      height: 16px;
      margin-bottom: 0px;
      width: auto; }
  .basic-wrapper .pagination .dropdown-menu a {
    text-decoration: none; }

.card-error {
  position: relative; }
  .card-error .error-message {
    background-color: #DA4848;
    color: #FFFFFF;
    padding: 5px 20px 5px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 28px;
    right: -10px; }
    .card-error .error-message:after {
      content: "";
      height: 0;
      width: 0;
      border-top: 9px solid #c72828;
      border-right: 10px solid #F1F2F4;
      position: absolute;
      right: 0px;
      bottom: -9px; }

/*-----------------------
Card
-----------------------*/
.card {
  background-color: #FFFFFF;
  border: 1px solid #CFD7DB; }
  .card .card-header {
    background-color: #f2f6f8;
    border-bottom: 1px solid #CFD7DB;
    padding: 20px;
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 45em) {
      .card .card-header {
        padding: 20px 30px; } }
    .card .card-header h3 {
      color: #49494a; }
    .card .card-header button {
      display: block;
      margin-top: 10px; }
      @media screen and (min-width: 45em) {
        .card .card-header button {
          float: right;
          margin-top: -7px; } }
  .card .header-block h3 {
    font-weight: 900;
    margin-bottom: 25px; }
  .card .card-inner {
    display: inline-block;
    padding: 20px;
    height: 100%;
    width: 100%; }
    @media screen and (min-width: 45em) {
      .card .card-inner {
        padding: 30px; } }

.interior {
  background-color: #f2f6f8;
  border-top: 1px solid #CFD7DB; }
  .interior .container {
    padding: 50px 15px 30px; }

/*-----------------------
Main Wrapper
-----------------------*/
.main-wrapper {
  background-color: #F1F2F4;
  min-height: 100vh; }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .main-wrapper {
      margin-left: 260px; } }
  .main-wrapper.styleguide-wrapper section {
    padding: 50px; }
    .main-wrapper.styleguide-wrapper section:nth-child(even) {
      background-color: #eaecf0; }
    .main-wrapper.styleguide-wrapper section h4.styleguide-header {
      margin-bottom: 30px; }

.styleguide-wrapper .modal {
  height: 500px;
  position: relative; }
  .styleguide-wrapper .modal .modal-fade-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.styleguide-wrapper .side-navigation {
  position: relative; }

.styleguide-wrapper .data-blocks {
  margin: 0px;
  width: 100%; }

.styleguide-wrapper .alert {
  margin: 0px;
  position: relative;
  width: 100%; }

.styleguide-wrapper .full-page-loading {
  height: 400px;
  width: 100%; }

.styleguide-wrapper .fixed-footer {
  margin: 0px;
  position: relative;
  width: 100%; }

/*-----------------------
Color Blocks
-----------------------*/
.color-block {
  display: inline-block;
  width: 100px;
  background-color: #FFFFFF;
  border-radius: 3px; }
  .color-block .color {
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #CFD7DB;
    height: 80px; }
  .color-block .text-block {
    padding: 10px; }
    .color-block .text-block h6, .color-block .text-block p {
      margin: 0px;
      text-align: center; }
    .color-block .text-block p {
      font-size: 10px;
      font-size: 0.71429rem;
      line-height: 14px;
      line-height: 1rem; }

/*-----------------------
Asset Block
-----------------------*/
.relevant-logo-block {
  display: inline-block; }
  .relevant-logo-block img {
    display: inline-block;
    margin-right: 15px;
    width: 50px; }

/*-----------------------
Code Snippet
-----------------------*/
xmp {
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 20px;
  white-space: pre-wrap; }
