//MAIN COLORS

  //BLACK
    $black-light:  #52565C;
    $black-base:   #49494a;
    $black-dark:   #2C3139;

 //BLUE
   $blue-base:   #101d49;
   $blue-dark:   darken($blue-base, 10%);

 //BLUE GREY
   $blue-grey-base:   #52798f;
   $blue-grey-light:  lighten($blue-grey-base, 52%);
   $blue-grey-med:    #CFD7DB;
   $blue-grey-dark:   darken($blue-grey-base, 10%);

  //GREEN
    $green-base:   #4b7d76;
    $green-dark:   darken($green-base, 10%);

  //PURPLE
    $purple-base:   #754681;
    $purple-dark:   darken($purple-base, 10%);
    $gradient:      linear-gradient(45deg, #46134E 0%, $purple-base 92%);

  //GREY
    $grey-light:   #D6D6D6;
    $grey-base:    #e9edef;
    $grey-dark:    #9B9B9B;

  //RED
    $red-base:     #DA4848;
    $red-dark:     darken($red-base, 10%);

  //YELLOW
    $yellow-base:  #F5A623;
    $yellow-dark:  darken($yellow-base, 10%);

  //WHITE
    $white-base:   #FFFFFF;
    $white-med:    #CFD7DB;
    $white-dark:   #E2E2E2;


