<div class="basic-content">
  <%= partial 'partials/side-bar-individual' %>

  <main class="content-with-sidebar">
    <div class="container">
      <div class="bar-banner">
        <i class="circle-icon warn"><img src="../images/icons/ruling.svg"></i>
        <div class="text-block">
          <h3>Barred As of 1/17/2017</h3>
          <p><small>See <a href="#">press release</a> and <a href="#">case information</a> for details.</small></p>
        </div>
      </div>
      <div class="grouped-cards">
        <div class="card reg-actions-card">
          <div class="card-inner">
            <div class="card-center-inner">
            <h3>Regulatory Actions
              <div class="tooltip-block top">
                <span class="tooltip-trigger">?</span>
                <span class="tooltip-content">
                  <p>Description goes here.</p>
                </span>
              </div>
            </h3>
            <div class="row">
              <div class="col-xs-4 item is-horizontal">
                <span class="large-value">0</span>
                <p><strong><small>NFA Actions</small></strong></p>
              </div>
              <div class="col-xs-4 item is-horizontal">
                <span class="large-value">12</span>
                <p><strong><small>CFTC Actions</small></strong></p>
              </div>
              <div class="col-xs-4 item is-horizontal">
                <span class="large-value">6</span>
                <p><strong><small>Exchange Actions</small></strong></p>
              </div>
            </div>
            <a href="#" class="btn btn-primary btn-alert">View All Actions</a>
            </div>
          </div>
        </div>
        <div class="card cases-card">
          <div class="card-inner">
            <div class="item is-vertical">
              <span class="large-value">0</span>
              <div class="text-block">
                <h3>NFA Arbitration Decisions
                  <div class="tooltip-block top">
                    <span class="tooltip-trigger">?</span>
                    <span class="tooltip-content">
                      <p>Description goes here.</p>
                    </span>
                  </div>
                </h3>
              </div>
            </div>
            <div class="item is-vertical">
              <span class="large-value">2</span>
              <div class="text-block">
                <h3>CFTC Reparations Cases
                  <div class="tooltip-block top">
                    <span class="tooltip-trigger">?</span>
                    <span class="tooltip-content">
                      <p>Description goes here.</p>
                    </span>
                  </div>
                </h3>
                <a href="" class="red"><small>View Details</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header with-header-only">
          <i class="circle-icon"><img src="../images/icons/calendar.svg"></i>
          <div class="text-block">
            <h3>Individual’s History</h3>
          </div>
        </div>
        <div class="card-inner">
          <p>Timeline will go here</p>
        </div>
      </div>
    </div>
  </main>

  <main class="content-with-sidebar">
    <div class="container">
      <h1>CFTC Reparations Cases</h1>
      <div class="card">
        <div class="card-header">
          <i class="circle-icon warn"><img src="../images/icons/ruling.svg"></i>
          <div class="text-block">
            <p><small>Reparations claims are not enforcement actions. They are attempts by customers to resolve futures-related disputes. The number of reparations claims filed does not necessarily mean that the individual or firm violated any rules. Some of the claims may have been dismissed, settled or withdrawn.</small></p>
          </div>
        </div>
        <div class="card-inner">
          <table>
            <thead>
              <th>Case #<i class="sort-by descending"></i></th>
            </thead>
            <tbody>
              <tr>
                <td>15-R010</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>For more information, contact the CFTC at (202) 418-5000.</p>
    </div>
  </main>

  <main class="content-with-sidebar">
    <div class="container">
      <div class="card">
        <div class="card-header with-header-only">
          <i class="circle-icon warn"><img src="../images/icons/folder.svg"></i>
          <div class="text-block">
            <h3>Case #: BTX 2003-MINV-15</h3>
          </div>
        </div>
        <div class="card-inner">
          <p><strong>Contributor: </strong>CFTC</p>
          <p><strong>Effective Date: </strong>10/14/2003</p>
          <p><strong>Rule Type: </strong>406 - Block Trading, 407 - Exchange of Futures for Physicals</p>
          <p><strong>Committee: </strong>Head of Compliance</p>
          <p><strong>Action Types: </strong>Trade Practice</p>
          <p><strong class="red-alert">Penalty/Event: </strong>Undertaking, Fine $5000</p>
          <p><strong>Narrative Summary:</strong></p>
          <p><small>Without admitting or denying the proposed findings, Goldman, Sachs & Co. (“GS&Co.”) consented to findings that it violated certain Rules of the Exchange regarding block trading and the exchange of futures for physicals. GS&Co. also agreed to pay a fine of $5,000 within five days of the acceptance of the Offer and make changes to its policies… <a href="">Read More</a></small></p>
        </div>
      </div>
    </div>
  </main>

  <main class="content-with-sidebar">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <i class="circle-icon warn"><img src="../images/icons/ruling.svg"></i>
          <div class="text-block">
            <h3>NFA Arbitration Decisions</h3>
            <p><small>An NFA Arbitration claim is a futures or forex related dispute involving a customer and an NFA Member (or employee) or Associate. It is not a regulatory action. NFA only discloses information concerning arbitration cases that have been decided by an arbitration panel. NFA does not release the names of parties who have settled their parts in the cases… <a href="">Read More</a></small></p>
          </div>
        </div>
        <div class="card-inner">
          <div class="scrollable-table">
            <table>
              <thead>
                <th>Decision Date<i class="sort-by descending"></i></th>
                <th>Case #<i class="sort-by"></i></th>
                <th>Firm Role
                  <div class="tooltip-block top">
                    <span class="tooltip-trigger">?</span>
                    <span class="tooltip-content">
                      <p>Description goes here.</p>
                    </span>
                  </div>
                  <i class="sort-by"></i>
                  <div class="table-filter">
                     <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
                        <ul class="dropdown-menu">
                          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; Respondent</a></li>
                          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; Claimant</a></li>
                        </ul>
                    </div>
                  </div>
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>11/18/2010</td>
                  <td><a href="#">10ARB00050</a></td>
                  <td>Respondent</td>
                </tr>
                <tr>
                  <td>07/13/2010</td>
                  <td><a href="#">09ARB00225</a></td>
                  <td>Respondent</td>
                </tr>
                <tr>
                  <td>12/30/2009</td>
                  <td><a href="#">09ARB00131</a></td>
                  <td>Respondent</td>
                </tr>
                <tr>
                  <td>10/15/2009</td>
                  <td><a href="#">08ARB00207</a></td>
                  <td>Claimant</td>
                </tr>
                <tr>
                  <td>09/22/2009</td>
                  <td><a href="#">08ARB00165</a></td>
                  <td>Respondent</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= partial 'partials/pagination' %>
    </div>
  </main>

  <main class="content-with-sidebar">
    <div class="container">
      <div class="card">
        <div class="card-header with-header-only">
          <i class="circle-icon warn"><img src="../images/icons/ruling.svg"></i>
          <div class="text-block">
            <h3>Case #: 09ARB00131</h3>
          </div>
        </div>
        <div class="card-inner">
          <div class="row">
            <p class="col-md-6"><strong>Decision Date: </strong>Decision Date: </p>
            <p class="col-md-6"><strong>Party Type: </strong>Respondent</p>
          </div>
          <div class="row">
            <p class="col-md-6"><strong>Panel Type: </strong>Non-Member</p>
            <p class="col-md-6"><strong>Proceeding Type: </strong>Proceeding Type</p>
          </div>
          <p><strong>Number of Arbitrators: </strong>1</p>
          <p><strong>Customers: </strong>Robert Torborg</p>
          <p><strong>Representatives: </strong>Robert Christie, Jeffry Henderson, Christian Kemnitz, Patrick King, and Jason Shaffer</p>
          <p><strong>Issues:</strong></p>
          <div>
            <p><small>The following issues were presented to and decided by the undersigned arbitrator: failure to follow instructions, providing a misleading confirmation statement and Claimant’s request for costs and interest.</small></p>
            <p><small>I, the Arbitrator appointed to hear and decide this matter in accordance with the Code of Arbitration of National Futures Association, have determined that the following… Read More</small></p>
          </div>
          <p><strong>Awards and Claims:</strong></p>
          <div class="scrollable-table">
            <table class="table-awards-and-claims">
              <thead>
                <th>Type</th>
                <th colspan="2">Claim Amount</th>
                <th colspan="2">Counter Claim</th>
                <th colspan="2">3rd Party Claim</th>
                <th colspan="2">Cross Claim</th>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td><strong>Claim</strong></td>
                  <td><strong>Award</strong></td>
                  <td><strong>Claim</strong></td>
                  <td><strong>Award</strong></td>
                  <td><strong>Claim</strong></td>
                  <td><strong>Award</strong></td>
                  <td><strong>Claim</strong></td>
                  <td><strong>Award</strong></td>
                </tr>
                <tr>
                  <td>Compensatory</td>
                  <td>$3,865.00</td>
                  <td>$3,640.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td>Punitive</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td>Treble</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td>Interest</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td>Attorney Fees</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td>Costs</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                  <td>—</td>
                  <td>$0.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

  <main class="content-with-sidebar">
    <div class="container">
      <h1>Case #: 17BCC00001</h1>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default card">
          <div class="panel-heading card-header" role="tab" id="headingTwo">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="circle-icon warn"><img src="../images/icons/folder.svg"></i>
              <div class="text-block">
                <h3>Respondent: <span>Ahdout, William (NFA ID: 0308182)</span></h3>
                <p><small>Effective Date: 02/21/2017</small></p>
              </div>
            </a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-inner">
              <p><strong>Case Documents Summary: </strong> <a href="#" target="_blank" class="btn btn-primary"><img src="../images/icons/pdf.svg">Complaint</a> <a href="#" target="_blank" class="btn btn-primary"><img src="../images/icons/pdf.svg">Desision</a></p>
              <p><strong>Narrative Summary: </strong></p>
              <p><small><u>Complaint:</u><br>On February 6, 2017, NFA issued a Complaint charging FXCM, Niv and Ahdout with engaging in fraudulent activities with respect to FXCM's retail customers by advertising that it used a No Dealing Desk order execution model – which it claimed was superior to the Dealing Desk model used by its competitors – when,… <a href="">Read More</a></small></p>
              <p><strong>Rule Summary: </strong></p>
              <ul>
                <li>C.R.2-36(b)(1) - Cheat, Defraud, Deceive Forex Customers</li>
                <li>C.R.2-36(e) - Forex Dealer Members Supervision of Employees</li>
                <li>C.R.2-36(c) - Forex Dealer Members observe high stds of commercial honor</li>
              </ul>
              <p><strong>Committee: </strong>Business Conduct Committee</p>
              <p><strong>Action Type(s):</strong> General Conduct, Sales Practice</p>
              <p><strong>Penalty/Event: </strong>
              <ul>
                <li>Permanent Bar from NFA Membership (02/06/2017)</li>
                <li>Permanent Bar from NFA Associate Membership (02/06/2017)</li>
                <li>Permanent Bar from Principal Status (02/06/2017)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  <main class="content-with-sidebar">
    <div class="container">
      <h1>Regulatory Actions</h1>
      <div class="card">
        <div class="card-header">
          <i class="circle-icon warn"><img src="../images/icons/ruling.svg"></i>
          <div class="text-block">
            <p><small>This page includes information regarding the Case History of these matters concerning the person or firm you are researching. It may also include the Outcome if the cases have been resolved regarding this person or firm.</small></p>
            <div class="action-summary">
              <div class="item">
                <span class="large-value">0</span>
                <div class="text-block">
                  <p><strong><small>NFA Actions</small></strong></p>
                </div>
              </div>
              <div class="item">
                <span class="large-value">6</span>
                <div class="text-block">
                  <p><strong><small>CFTC Actions</small></strong></p>
                </div>
              </div>
              <div class="item">
                <span class="large-value">5</span>
                <div class="text-block">
                  <p><strong><small>Exchange Actions</small></strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-inner">
          <div class="scrollable-table">
            <table>
              <thead>
                <th>Effective Date
                  <div class="tooltip-block top">
                    <span class="tooltip-trigger">?</span>
                    <span class="tooltip-content">
                      <p>Description goes here.</p>
                    </span>
                  </div>
                  <i class="sort-by descending"></i>
                </th>
                <th>Contributor
                  <div class="tooltip-block top">
                    <span class="tooltip-trigger">?</span>
                    <span class="tooltip-content">
                      <p>Description goes here.</p>
                    </span>
                  </div>
                  <i class="sort-by"></i>
                  <div class="table-filter">
                     <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
                        <ul class="dropdown-menu">
                          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; CFTC</a></li>
                          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; CBOE</a></li>
                          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; CBOT</a></li>
                          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; BTX</a></li>
                        </ul>
                    </div>
                  </div>
                </th>
                <th>Case Outcome</th>
                <th>Case # <i class="sort-by"></i></th>
              </thead>
              <tbody>
                <tr>
                  <td>12/21/2016</td>
                  <td>CFTC</td>
                  <td>
                    <ul>
                      <li>Cease & Desist Order</li>
                      <li>Fine/Civil Monetary Pentalty $120,000,000</li>
                    </ul>
                  </td>
                  <td><a href="#">17-03</a></td>
                </tr>
                <tr>
                  <td>12/21/2016</td>
                  <td>CBOE</td>
                  <td>
                    <ul>
                      <li>Fine Summary $2,500</li>
                    </ul>
                  </td>
                  <td><a href="#">ICT NO.105141</a></td>
                </tr>
                <tr>
                  <td>06/06/2014</td>
                  <td>CBOT</td>
                  <td>
                    <ul>
                      <li>Fine Summary $5,000</li>
                    </ul>
                  </td>
                  <td><a href="#">RSRH-13-1735</a></td>
                </tr>
                <tr>
                  <td>12/07/2012</td>
                  <td>CFTC</td>
                  <td>
                    <ul>
                      <li>Fine $1,500,000</li>
                      <li>Commission Order</li>
                      <li>Other (See Narrative)</li>
                      <li>Cease & Desist Order</li>
                    </ul>
                  </td>
                  <td><a href="#">13-08</a></td>
                </tr>
                <tr>
                  <td>12/11/2007</td>
                  <td>CBOE</td>
                  <td>
                    <ul>
                      <li>Censure</li>
                      <li>Fine $10,000</li>
                    </ul>
                  </td>
                  <td><a href="#">CFE 07-0001</a></td>
                </tr>
                <tr>
                  <td>10/14/2003</td>
                  <td>BTX</td>
                  <td>
                    <ul>
                      <li>Fine $5,000</li>
                      <li>Undertaking</li>
                    </ul>
                  </td>
                  <td><a href="#">2003-MINV-15</a></td>
                </tr>
                <tr>
                  <td>07/13/2000</td>
                  <td>CBOT</td>
                  <td>
                    <ul>
                      <li>Fine $1,000</li>
                    </ul>
                  </td>
                  <td><a href="#">99-RFT-193</a></td>
                </tr>
                <tr>
                  <td>09/22/2009</td>
                  <td>CBOT</td>
                  <td>
                    <ul>
                      <li>Fine $750</li>
                    </ul>
                  </td>
                  <td><a href="#">99-RFT-193</a></td>
                </tr>
                <tr>
                  <td>07/31/1996</td>
                  <td>CBOT</td>
                  <td>
                    <ul>
                      <li>Fine $10,000</li>
                    </ul>
                  </td>
                  <td><a href="#">95-EX-24</a></td>
                </tr>
                <tr>
                  <td>02/11/1994</td>
                  <td>CBOT</td>
                  <td>
                    <ul>
                      <li>Fine $1,000</li>
                    </ul>
                  </td>
                  <td><a href="#">93-RRI-35</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= partial 'partials/pagination' %>
    </div>
  </main>

</div>