<div class="results-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="../images/company-logo/basic-logo-color.svg" alt="Basic Logo" class="basic-logo">
        <h1>Search Results</h1>
        <p>131 serach results for <strong>Johnson</strong></p>
      </div>
      <div class="col-sm-6">
        <%= partial 'partials/pagination' %>
      </div>
    </div>
  </div>
</div>
<section class="mobile-sort-filter">
  <p>Sory by:</p>
  <select>
    <option>Individual Name (A-Z)</option>
    <option>Individual Name (Z-A)</option>
  </select>
  <div class="table-filter">
     <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
        <ul class="dropdown-menu">
          <li><strong>Current NFA Membership</strong></li>
          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; NFA Member</a></li>
          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; Not an NFA Member</a></li>
          <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp; Permanent Bar</a></li>
          <hr>
          <li><strong>Current Registration Types</strong></li>
          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; AP</a></li>
          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; FB</a></li>
          <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp; FT</a></li>
          <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp; P</a></li>
          <hr>
          <li><strong>Regulatory Actions</strong></li>
          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; Yes</a></li>
          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; No</a></li>
        </ul>
    </div>
  </div>
</section>
<section class="section interior">
  <div class="container">
    <table class="blade-table">
      <thead>
        <th>Individual Name<i class="sort-by descending"></i></th>
        <th><span class="th-wrap">Current NFA Membership Status
          <div class="table-filter">
             <div class="button-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; NFA Member</a></li>
                  <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; Not an NFA Member</a></li>
                  <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp; Permanent Bar</a></li>
                </ul>
            </div>
          </div></span>
        </th>
        <th><span class="th-wrap">Current Registration Types
          <div class="tooltip-block top">
            <span class="tooltip-trigger">?</span>
            <span class="tooltip-content">
              <p><u><b>AP</b></u> = Associated Person</p>
              <p><u><b>FB</b></u> = Floor Broker</p>
              <p><u><b>FT</b></u> = Floor Trader</p>
              <p><u><b>P</b></u> = Principal</p>
            </span>
          </div>
          <div class="table-filter">
             <div class="button-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; AP</a></li>
                  <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; FB</a></li>
                  <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp; FT</a></li>
                  <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp; P</a></li>
                </ul>
            </div>
          </div></span>
        </th>
        <th>Regulatory Actions
          <div class="tooltip-block top">
            <span class="tooltip-trigger">?</span>
            <span class="tooltip-content">
              <p>A disciplinary or remedial action taken by a regulatory body, such as the exchanges, NFA and the CFTC in enforcing its rules and the requirements of the Commodity Exchange Act.</p>
            </span>
          </div>
          <div class="table-filter">
             <div class="button-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; Yes</a></li>
                  <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; No</a></li>
                </ul>
            </div>
          </div>
        </th>
      </thead>
      <tbody>
        <tr>
          <td><h4>Johnson, & Miller INC</h4><small>NFA ID: 0065318   |   Collins Commodities</small></td>
          <td><span>NFA Member</span></td>
          <td><span>AP, Prin</span></td>
          <td data-th="Regulatory Actions"><span>Yes</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Johnson, Aaron</h4><small>NFA ID: 0362052   |   Morgan Stanley DW Inc</small></td>
          <td><span>Not an NFA Member</span></td>
          <td><span>—</span></td>
          <td data-th="Regulatory Actions"><span>Yes</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Johnson, Aaron</h4><small>NFA ID: 0509183</small></td>
          <td><span>Not an NFA Member</span></td>
          <td><span>CPO, CTA, FCM, IB, SD, RFED</span></td>
          <td data-th="Regulatory Actions"><span>Yes</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Johnson, Aaron D</h4><small>NFA ID: 0160261   |   First Commodity Corp of Boston</small></td>
          <td><span>NFA Member</span></td>
          <td><span>AP, Prin</span></td>
          <td data-th="Regulatory Actions"><span>No</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Johnson, Aaron James</h4><small>NFA ID: 0509183   |   New York, NY</small></td>
          <td><span>Permanent Bar</span></td>
          <td><span>—</span></td>
          <td data-th="Regulatory Actions"><span>Yes</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
      </tbody>
    </table>
    <%= partial 'partials/pagination' %>
  </div>
</section>

<!-- for filter dropwon with checkboxes to work -->

<script type="text/javascript">
  var options = [];

  $( '.dropdown-menu a' ).on( 'click', function( event ) {

     var $target = $( event.currentTarget ),
         val = $target.attr( 'data-value' ),
         $inp = $target.find( 'input' ),
         idx;

     if ( ( idx = options.indexOf( val ) ) > -1 ) {
        options.splice( idx, 1 );
        setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
     } else {
        options.push( val );
        setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
     }

     $( event.target ).blur();

     console.log( options );
     return false;
  });

</script>