<div class="results-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="../images/company-logo/basic-logo-color.svg" alt="Basic Logo" class="basic-logo">
        <h1>Search Results</h1>
        <p>131 serach results for <strong>Johnson</strong></p>
      </div>
      <div class="col-sm-6">
        <%= partial 'partials/pagination' %>
      </div>
    </div>
  </div>
</div>
<section class="mobile-sort-filter">
  <p>Sory by:</p>
  <select>
    <option>Pool Name (A-Z)</option>
    <option>Pool Name (Z-A)</option>
    <option>CPO Name (A-Z)</option>
    <option>CPO Name (Z-A)</option>
  </select>
  <div class="table-filter">
     <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
        <ul class="dropdown-menu">
          <li><strong>Current Pool Status</strong></li>
          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; Active</a></li>
          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; Inactive</a></li>
        </ul>
    </div>
  </div>
</section>
<section class="section interior">
  <div class="container">
    <table class="blade-table">
      <thead>
        <th>Pool Name<i class="sort-by descending"></i></th>
        <th>CPO Name
          <i class="sort-by"></i>
          <div class="tooltip-block top">
            <span class="tooltip-trigger">?</span>
            <span class="tooltip-content">
              <p>Tooltip</p>
            </span>
          </div>
        </th>
        <th>Current Pool Status
          <div class="tooltip-block top">
            <span class="tooltip-trigger">?</span>
            <span class="tooltip-content">
              <p>Tooltip</p>
            </span>
          </div>
          <div class="table-filter">
             <div class="button-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><img src="../images/icons/filter.svg"></button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp; Active</a></li>
                  <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp; Inactive</a></li>
                </ul>
            </div>
          </div>
        </th>
      </thead>
      <tbody>
        <tr>
          <td><h4>Silver 8 Fund LTD</h4><small>Pool ID: P116165</small></td>
          <td><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></td>
          <td><span>Active</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Silver 8 Fund LTD</h4><small>Pool ID: P116165</small></td>
          <td><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></td>
          <td><span>Active</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Silver 8 Fund LTD</h4><small>Pool ID: P116165</small></td>
          <td><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></td>
          <td><span>Active</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Silver 8 Fund LTD</h4><small>Pool ID: P116165</small></td>
          <td><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></td>
          <td><span>Active</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Silver 8 Fund LTD</h4><small>Pool ID: P116165</small></td>
          <td><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></td>
          <td><span>Active</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
        <tr>
          <td><h4>Silver 8 Fund LTD</h4><small>Pool ID: P116165</small></td>
          <td class="with-toggle"><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">+3</a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <ul>
                    <li><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></li>
                    <li><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></li>
                    <li><span><h4>Silver 8 Captial LLC</h4><small>NFA ID: 0493698   |   New York, NY</small></span></li>
                  </ul>
                </div>
              </div>
            </div>

          </td>
          <td><span>Active</span></td>
          <td><div class="btn">View Details</div></td>
        </tr>
      </tbody>
    </table>
    <%= partial 'partials/pagination' %>
    <div class="note">
      <h3>Sorry no pools matched your search.</h3>
      <p>Feel free to try a different pool name or Pool ID.</p>
    </div>
  </div>
</section>

<!-- for filter dropwon with checkboxes to work -->

<script type="text/javascript">
  var options = [];

  $( '.dropdown-menu a' ).on( 'click', function( event ) {

     var $target = $( event.currentTarget ),
         val = $target.attr( 'data-value' ),
         $inp = $target.find( 'input' ),
         idx;

     if ( ( idx = options.indexOf( val ) ) > -1 ) {
        options.splice( idx, 1 );
        setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
     } else {
        options.push( val );
        setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
     }

     $( event.target ).blur();

     console.log( options );
     return false;
  });

</script>